<template>
  <div>
    <div style="display:flex;justify-content:space-between;padding:0 10px;">
      <h1>Project List</h1>
      <div style="display: flex;align-items:center;">
        <el-input placeholder="Search by address or project" v-model="searchText"
                  style="width:350px;margin-right: 30px" size="small" @input="searchInput" clearable>
          <i class="el-icon-search el-input__icon" slot="prefix"></i>
        </el-input>
      <el-link
        style="display:flex"
        icon="el-icon-edit"
        :href="this.isPendingAcct?'#':'#/properties/create'"
        type="primary"
      >New Project</el-link>
      </div>
    </div>
    <el-table :data="pageProperties" style="width: 100%" empty-text="Click New Property to create your first property">
      <!-- <el-table-column prop="id" label="ID" width="130"></el-table-column> -->
      <el-table-column prop="avatar" label="Image" width="130" >
        <template slot-scope="scope">
          <img
            v-if="scope.row.images && scope.row.images.length > 0"
            :src="scope.row.images[0].url"
            style="height:50px;width:50px;border-radius:5%;margin-left:5px;cursor:pointer;"
            @click="$router.push(`/properties/view/${scope.row.id}`)"
          />
        </template>
      </el-table-column>
      <el-table-column prop="location" label="Region" width="150" sortable></el-table-column>
      <el-table-column prop="address" label="Address" width="400" sortable></el-table-column>
      <el-table-column prop="status" label="Status" sortable>
        <template slot-scope="props">
          <el-tag
            :type="props.row.published?'success':props.row.status=='Obsolete'?'danger':'warning'"
            effect="light"
            style="text-align:center;"
          >{{props.row.status}}</el-tag>
        </template>
      </el-table-column>
        <el-table-column prop="fromAgent" label="From"  sortable></el-table-column>
      <el-table-column prop="updatedAt" label="Last Update" width="140" sortable></el-table-column>
      <el-table-column fixed="right" label="Actions" width="140">
        <template slot-scope="scope">
          <el-button
            type="text"
            size="small"
            @click="$router.push(`/properties/edit/${scope.row.id}`)"
          >Edit</el-button>
          <el-button @click="remove(scope.row)" type="text" size="small">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div style="text-align: end;margin-top: 30px;">
      <el-pagination background layout="total, sizes, prev, pager, next" :page-sizes="[10,20,30]" :page-size="pageSize" :total="totalSize" @size-change="handleSizeChange" @current-change="loadPropertiesByPage"></el-pagination>
      </div>
  </div>
</template>
<script>
import * as SLS from '../../APIs/sls';
import * as Permission from '../../utils/permission';

export default {
  data() {
    return {
      pageProperties:[],
      properties: [],
      loading: true,
      totalSize: 0,
      pageSize: 10,
      searchText:"",
      isPendingAcct: true,
    };
  },
  methods: {
    async fetch() {
      const res = await SLS.loadProperties();
      res.data.forEach(element => {
        element.updatedAt = new Date(element.updatedAt).toLocaleDateString();
      });
      this.properties = res.data;
      this.pageProperties = this.properties.slice(0, this.pageSize);
      this.totalSize = this.properties.length;
      this.loading = false;
    },
    async remove(row) {
      this.$confirm(`Sure to delete the "${row.address}"?`, "Confirmation", {
        confirmButtonText: "Delete",
        cancelButtonText: "Cancel",
        type: "warning"
      }).then(async () => {
        await SLS.deleteProperties(row.id);
        this.$message({
          type: "success",
          message: "Successful!"
        });
        this.fetch();
      });
    },

    searchInput() {
      this.pageProperties = this.properties.filter(p =>
              p.address.toLowerCase().indexOf(this.searchText.toLowerCase()) > -1
              || (p.projectName && p.projectName.toLowerCase().indexOf(this.searchText.toLowerCase())> -1));
    },

    handleSizeChange(val) {
        this.pageSize = val;
      },

    loadPropertiesByPage(currentPage) {
      
      this.pageProperties = this.properties.slice(this.pageSize*(currentPage-1), this.pageSize*currentPage);
    },
  },
  async created() {
    this.isPendingAcct = await Permission.isPendingAcct();
    !this.isPendingAcct && this.fetch();
  }
};
</script>

