<template>
  <div style="margin:0 20px;">
    <div class="top-bar">
      <div>
        <img v-if="this.model.images[0]" :src="this.model.images[0].url" style="height:50px;" />
      </div>
      <div>
        <ul>
          <li>
            <a href="#images">Images</a>
          </li>
          <li>
            <a href="#overview">Overview</a>
          </li>
          <li v-if="this.model.videos.length>0">
            <a href="#videos">Videos</a>
          </li>

          <li v-if="model.desc">
            <a href="#description">Description</a>
          </li>
          <li>
            <a href="#price">Price list</a>
          </li>
          <li v-if="model.attachments.length>0">
            <a href="#documents">Documents</a>
          </li>
          <li>
            <a href="#location">Location</a>
          </li>
          <li>
            <a href="#nearby">Nearby</a>
          </li>
        </ul>
      </div>
      <div>
        <!--                <el-button type="success" icon="el-icon-phone">Enquire</el-button>-->
      </div>
    </div>

    <div class="anchor" id="images"></div>
    <div class="body" style="boder:1px solid grey;color:#77777A;">
      <!--Image-->

      <div style="background: white;display: flex;">
        <div style="flex:9;">
          <el-image style="width: 100%;" :src="this.imageList[0]" :preview-src-list="this.imageList"></el-image>
        </div>
        <div v-if="this.imageList[1]" style="padding: 0 5px;flex:3;">
          <div>
            <el-image style="" :src="this.imageList[1]" :preview-src-list="this.imageList"></el-image>
          </div>
          <div v-if="this.imageList[2]" style="padding: 1px 0;">
            <el-image style="max-height:150px" :src="this.imageList[2]" :preview-src-list="this.imageList"></el-image>
          </div>
          <div v-if="this.imageList[3]">
            <el-image style="max-height: 200px;" :src="this.imageList[3]" :preview-src-list="this.imageList"></el-image>
          </div>
        </div>
      </div>

      <!--Project Information-->
      <div class="anchor" id="overview"></div>
      <div
        class="overview-seller"
        style="display:flex;justify-content:space-between;margin-top:40px;"
      >
        <div class="overview">
          <el-row>
            <el-col :span="14">
              <div class="caption" style="padding-bottom:0px;">{{model.projectName}}</div>
              <div>{{model.address}}</div>
            </el-col>
            <el-col :span="10" style="display:flex;justify-content: flex-end">
              <div class="favorite" @click="clickSaveFavorite">
                <i :class="this.isFav ? 'el-icon-star-on':'el-icon-star-off'" :style="this.isFav ? 'color:#ee9b00;':'none'"></i>
                <span style="margin-left: 5px;font-size: 14px;">Favorite</span>
<!--              <el-button v-if="this.isFav"  icon="el-icon-star-on" >Favorite</el-button>-->
<!--                <el-button v-else  icon="el-icon-star-off" @click="clickSaveFavorite">Favorite</el-button>-->
              </div>
            </el-col>
          </el-row>
          <div>
            <div class="project-info">Project Information</div>
            <div class="row">
              <!--row 1-->
              <div class="row-block">
                <div class="row-block-icon">
                  <i class="el-icon-office-building"></i>
                </div>
                <div>
                  <div class="row-block-header">Total properties</div>
                  <div style="font-size:14px;">{{model.priceList.length}}</div>
                </div>
              </div>
              <div class="row-block">
                <div class="row-block-icon">
                  <i class="el-icon-pie-chart"></i>
                </div>
                <div>
                  <div class="row-block-header">Available properties</div>
                  <div style="font-size:14px;">{{model.priceList.filter(p=>p.status==true).length}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <!--row 2-->
              <div class="row-block">
                <div class="row-block-icon">
                  <i class="el-icon-edit-outline"></i>
                </div>
                <div>
                  <div class="row-block-header">Project status</div>
                  <div style="font-size:14px;">{{model.projectStatus}}</div>
                </div>
              </div>
              <div class="row-block">
                <div class="row-block-icon">
                  <i class="el-icon-date"></i>
                </div>
                <div>
                  <div class="row-block-header">Completion date</div>
                  <div style="font-size:14px;">{{model.estCompletion}}</div>
                </div>
              </div>
            </div>
            <!--            <div class="row">-->
            <!--              &lt;!&ndash;row 3&ndash;&gt;-->
            <!--              <div class="row-block">-->
            <!--                <div class="row-block-icon">-->
            <!--                  <i class="el-icon-coin"></i>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                  <div class="row-block-header">Holding deposit</div>-->
            <!--                  <div style="font-size:14px;">TBA</div>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
            <div class="project-info">Commission</div>
            <div class="row-block">
              <div class="row-block-icon">
                <i class="el-icon-coin"></i>
              </div>
              <div style="margin:auto 0;">
                <span style="font-size:16px;">{{model.commission}}</span>
                <span style="font-size:14px;padding-left:5px;">
                  <span v-if="model.gst">inc GST</span>
                  <span v-else>exc GST</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="seller" style="background:white;width:28%;padding:0px 16px 16px 16px">
          <div style="padding-top:20px;font-weight:700;color:#48484a;">Seller</div>
          <div class="seller-header" style="display:flex;align-items:center;padding:15px 0;">
            <div
              class="logo-block"
              style="border:solid 2px #EDEDED;padding:5px;padding-bottom:2px;text-align:center;background-color:#FFFFFF;"
            >
              <img :src="seller.logo" style="max-width:80px;max-height:80px;" />
            </div>
            <div
              class="seller-name"
              style="text-align:left;width:100%;padding-left:20px;font-size:14px;"
            >
              <div style="font-weight:700;color:#48484a;">{{seller.name}}</div>
              <div>{{(seller.address || "").split(",")[1]}}</div>
            </div>
          </div>
          <ShowMore :showHeight="110" :content="seller.desc"></ShowMore>
        </div>
      </div>

      <!-- Videos-->
      <div class="anchor" id="videos"></div>
      <div v-if="this.model.videos.length>0" class="section">
        <div class="caption">Videos</div>
        <div style="display: flex;align-items: center;flex-flow: column">
          <video ref="videoPlayer" id="videoPlayer" width="740px" height="414px" controls>
            <source :src="currentVideoUrl" type="video/mp4" />Your browser does not support the video.
          </video>
          <div>
            <img
              :src="item.url"
              v-for="(item, index) in this.model.videos"
              :key="index"
              @click="clickVideo(item.video)"
              class="thumbnailList"
              onerror="this.src='/img/weproperty.png'"
            />
          </div>
        </div>
      </div>

      <!--Description-->
      <div class="anchor" id="description"></div>
      <div v-if="model.desc" class="section">
        <div class="caption">Description</div>
        <ShowMore :showHeight="110" :content="model.desc"></ShowMore>
      </div>

      <!-- Price list-->
      <div class="anchor" id="price"></div>
      <div class="section">
        <div style="display:flex;justify-content:space-between;">
          <div class="caption">Price List</div>
          <div>
            <!--            <el-button plain icon="el-icon-share" @click="selectPropertyDetail()" :disabled="disableShare">Share Project</el-button>-->
          </div>
        </div>
        <div>
          <el-table :data="model.priceList" style="width: 100%">
            <el-table-column fixed prop="storey" label="Storey"></el-table-column>
            <el-table-column prop="room" label="Room"></el-table-column>
            <el-table-column prop="toilet" label="Toilet"></el-table-column>
            <el-table-column prop="garage" label="Garage"></el-table-column>
            <el-table-column label="Internal Area">
              <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.internalArea }} m²</span>
              </template>
            </el-table-column>
            <el-table-column prop="landArea" label="Land Area">
              <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.landArea }} m²</span>
              </template>
            </el-table-column>
            <el-table-column prop="price" label="Price" sortable>
              <template slot-scope="scope">
                <span
                  style="margin-left: 10px"
                >${{ scope.row.price.replace(/\B(?=(\d{3})+(?!\d))/g, ",") }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="status" sortable label="Status">
              <template slot-scope="props">
                <el-tag
                  :type="props.row.status?'success':'danger'"
                  effect="light"
                  style="text-align:center;"
                >{{props.row.status?'Available':'Sold'}}</el-tag>
              </template>
            </el-table-column>
            <el-table-column prop="floorPlan" label="Floor Plan">
              <template slot-scope="scope">
                <el-link
                  icon="iconfont icon-mianji"
                  :href="scope.row.floorPlan.url"
                  target="_blank"
                ></el-link>
              </template>
            </el-table-column>
            <el-table-column label="Share">
              <template slot-scope="scope">
                <el-link
                  icon="el-icon-share"
                  style="color:#409EFF"
                  @click="selectPropertyDetail(scope.row)"
                />
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>

      <!-- Documents-->
      <div class="anchor" id="documents"></div>
      <div v-if="model.attachments.length>0" class="section">
        <div class="caption">Documents</div>
        <a
          :href="item.url"
          target="_blank"
          class="document"
          :class="item.fileType.split('/')[1]=='pdf'?'pdf':'jpg'"
          v-for="(item, index) in this.model.attachments"
          :key="index"
        >
          <div class="type">{{item.fileType.split("/")[1]}}</div>
          <div class="name">{{item.name}}</div>
          <div class="size">{{item.size}}M</div>
        </a>
      </div>

      <!-- Location-->
      <div class="anchor" id="location"></div>
      <div class="section" style="padding:0px">
        <div class="caption" style="padding:25px;">Location</div>
        <div>
          <GmapMap
            :options="{
                zoomControl: false,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: false,
                disableDefaultUi: false
              }"
            :center="{lat:model.lat, lng:model.lng}"
            :zoom="14"
            map-type-id="roadmap"
            scrollwheel="false"
            style="height:400px"
          >
            <GmapMarker
              :key="index"
              v-for="(m, index) in markers"
              :position="m.position"
              :clickable="true"
              :draggable="false"
              @click="center=m.position"
            />
          </GmapMap>
        </div>
        <div style="position:relative; height:400px;width:100%;margin-top:-400px;" />
      </div>

      <!--schools-->
      <div class="anchor" id="nearby"></div>
      <div class="section">
        <div class="caption">Nearby</div>
        <el-tabs>
          <el-tab-pane label="Schools">
            <el-table :show-header="true" :data="this.model.schools" style="width: 100%" @row-click="clickSchoolRow">
              <el-table-column prop="name" label="Name" width="300"></el-table-column>
              <el-table-column
                prop="type"
                label="Type"
                width="180"
                :filters="[{ text: 'Private', value: 'Private' }, { text: 'Government', value: 'Government' }, { text: 'Catholic', value: 'Catholic' },{ text: 'Special', value: 'Special' }]"
                :filter-method="filterSchoolType"
                filter-placement="bottom-end"
              >
                <template slot-scope="scope">{{scope.row.type}}</template>
              </el-table-column>
              <el-table-column
                prop="educationLevel"
                label="Level"
                width="180"
                :filters="[{ text: 'Primary', value: 'Primary' }, { text: 'Secondary', value: 'Secondary' }, { text: 'Combined', value: 'Combined' }]"
                :filter-method="filterEduLevel"
                filter-placement="bottom-end"
              >
                <template slot-scope="scope">{{scope.row.educationLevel}}</template>
              </el-table-column>
              <el-table-column prop="gender" label="Gender" sortable></el-table-column>
              <el-table-column
                prop="distanceFromLocation"
                label="Distance"
                sortable
                :formatter="formatDistance"
              ></el-table-column>
              <el-table-column prop="websiteUrl" label="Website">
                <template slot-scope="scope">
                  <el-link icon="el-icon-share" :href="scope.row.websiteUrl" target="_blank"></el-link>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="Transport" name="transport">
            <el-table :show-header="true" :data="this.model.transport" style="width: 100%" max-height="550" @row-click="clickTransRow">
              <el-table-column prop="route_type" label="Route"
                               :filters="[{ text: 'Train', value: '0' }, { text: 'Tram', value: '1' }, { text: 'Bus', value: '2' }]"
                               :filter-method="filterRouteType"
                               filter-placement="bottom-end"
                               width="200"
              >
                <template slot-scope="scope">
                  <div style="display: flex;">
                    <img :src="formatImage(scope.row.route_type)" style="height:20px;padding-right:5px;"/>
                    {{scope.row.route_number? `${scope.row.route_number}` : scope.row.route_name+" Line"}}
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="route_name" label="Route Name" width="330"></el-table-column>
              <el-table-column prop="stop_name" label="Stop Name"></el-table-column>
              <el-table-column prop="stop_distance" label="Distance" sortable :formatter="formatStopDistance">
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
      </div>

      <div style="margin-bottom:50px;"></div>
      <!-- dialog -->
      <el-dialog
        title="Share Property"
        :visible.sync="dialogFormVisible"
        :before-close="handleClose"
        :close="handleClose"
        append-to-body
      >
        <el-form :model="form" :rules="rules" ref="form" label-width="60px" style="width: 100%">
          <el-form-item label="Title" prop="title">
            <el-input v-model="form.title" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="E-mail" prop="email">
            <el-input v-model="form.email" autocomplete="off" placeholder="Optional"></el-input>
          </el-form-item>
          <el-form-item label="Share" v-if="this.form.visibility">
            <el-row>
              <el-button
                icon="iconfont icon-lianjie"
                style="background:#16c2c2; color:#fff; margin-right: 15px;height:42px; float: left"
                v-clipboard:copy="form.link"
                v-clipboard:success="copyLink"
              ></el-button>
              <el-button
                icon="el-icon-message"
                style=" height: 42px; float: left;margin-right:20px;"
                type="danger"
                @click="sendEmail"
              ></el-button>
              <ShareNetwork
                network="facebook"
                :url="form.link"
                :title="form.title"
                :description="form.notes"
              >
                <el-button
                  style="background:#3b5998;font-weight: 600;color:white;margin-right:20px;"
                  icon="iconfont icon-Facebook"
                ></el-button>
              </ShareNetwork>

<!--                                                                      <div>-->
<!--                                                                          <el-button-->
<!--                                                                                  style="background:#67C23A;color:white;height: 42px; float: left"-->
<!--                                                                                  @click="shareToWeChat"-->
<!--                                                                                  icon="iconfont icon-yingdaicon04">-->
<!--                                                                          </el-button>-->
<!--                                                                          <div v-show="displayBarcode" id="qrcode" ref="qrcode"></div>-->
<!--                                                                      </div>-->
            </el-row>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import ShowMore from "../../components/ShowMore.vue";
import QRCode from "qrcodejs2";
import * as HTTP from '../../APIs/http';
import * as SLS from '../../APIs/sls';

export default {
  components: {
    ShowMore
  },
  props: {
    id: {}
  },
  data() {
    return {
      model: {
        priceList: [],
        images: [],
        videos: [],
        attachments: [],
        schools: [],
        transport:[],
        lat: 0,
        lng: 0
      },
      stops:[],
      rules: {
        title: [
          { required: true, message: "Please input Title", trigger: "blur" },
          {
            min: 1,
            max: 50,
            message: "Length should be 1 to 50",
            trigger: "blur"
          }
        ]
      },
      seller: {},
      markers: [],
      homeOnlyMarkers: [],
      sellerDescHeight: "height:230px",
      dialogFormVisible: false,
      form: {
        title: "",
        notes: "",
        link: "",
        email: "",
        visibility: true,
        generate_bt_disabled: false,
        tx_copy_bt: "Copy Link"
      },
      propertyDetail: {},
      descMore: false,
      descMoreText: "Show more",
      descMoreHeight: "max-height:250px",
      companyId: sessionStorage.companyId,
      disableShare: true,
      sharingGroup: [],
      imageList:[],
      qrcode: "",
      displayBarcode: false,
      currentVideoUrl: "",
      isFav: false,
    };
  },
  methods: {
    async fetch() {
      const res = await SLS.getPropertyById(this.id);
      this.model = Object.assign({}, this.model, res.data);
      this.model.images.forEach(x=> {
        this.imageList.push(x.url);
      });
      this.markers.push({
        position: {
          lat: this.model.lat,
          lng: this.model.lng
        }
      });
      Object.assign(this.homeOnlyMarkers, this.markers);
      this.form.title = this.model.projectName ? this.model.projectName : "";
      this.form.notes = this.model.desc
        ? this.model.desc.replace(/(<([^>]+)>)/gi, "").substr(0, 1000)
        : "";
      if (this.model.videos.length)
        this.currentVideoUrl = this.model.videos[0].video;
    },

    async fetchSeller() {
      const res = await HTTP.getCompanyById(this.companyId);
      this.seller = Object.assign({}, this.seller, res.data);
    },

    async selectPropertyDetail(detail) {
      let adds = this.model.address.split(",");
      this.form.link = "http://share.weproperty.com.au/"+encodeURIComponent(this.model.id+adds[0]+adds[2])+".html?property=" + detail.id;
      this.dialogFormVisible = true;
    },

    copyLink() {
      //this.form.tx_copy_bt = "Link Copied";
      this.$message({
        message: "Link Copied",
        type: "success"
      });
    },

    clickVideo(video) {
      if (this.currentVideoUrl != video) {
        this.currentVideoUrl = video;
        this.$refs.videoPlayer.load();
      }
    },

    formatDistance(row) {
      return `${row.distanceFromLocation} km`;
    },

    formatStopDistance(row) {
      return (row.stop_distance/1000).toFixed(2) + " km";
    },

    formatImage(type){
      return "/img/"+type+".png";
    },

    filterRouteType(value, row) {
      return row.route_type == value;
    },

    filterEduLevel(value, row) {
      return row.educationLevel === value;
    },

    filterSchoolType(value, row) {
      return row.type === value;
    },

    clickTransRow(row) {
      this.markers = [];
      Object.assign(this.markers, this.homeOnlyMarkers);
      this.markers.push({
        position: {
          lat: row.stop_latitude,
          lng: row.stop_longitude
        }
      });
    },

    clickSchoolRow(row) {
      console.log(row);
      this.markers = [];
      Object.assign(this.markers, this.homeOnlyMarkers);
      this.markers.push({
        position: {
          lat: row.geolocation.lat,
          lng: row.geolocation.lon
        }
      });
    },

    shareToWeChat() {
      this.displayBarcode = true;
      if (this.qrcode) {
        this.qrcode.clear();
      } else {
        this.qrcode = new QRCode("qrcode", {
          width: 100,
          height: 100,
          text: this.form.link
        });
      }
    },

    handleClose() {
      if (this.qrcode) this.qrcode.clear();
      this.displayBarcode = false;
      this.dialogFormVisible = false;
    },

    sendEmail() {
      var a = document.createElement("a");
      document.body.appendChild(a);
      a.setAttribute(
        "href",
        "mailto:" +
          this.form.email +
          "?subject=" +
          this.form.title +
          "&body=" +
          this.form.notes +
          "%0D%0AView details via: " +
          encodeURIComponent(this.form.link)
      );
      a.click();
      document.body.removeChild(a);
    },

    clickSaveFavorite() {
      if(this.isFav) {
        this.$sls.delete("/favorites",{ data:{"userId":sessionStorage.userId, "projectId":`${this.model.companyId}|${this.model.id}`}});
        this.isFav = false;
        this.$message({message: "Removed successfully", type: "success"});
      } else {
        this.$sls.post("/favorites",{"userId":sessionStorage.userId, "projectId":`${this.model.companyId}|${this.model.id}`});
        this.isFav = true;
        this.$message({message: "Saved successfully", type: "success"});
      }
    },

    async listFavKeys() {
      const ret = await this.$sls.get(`/favorites/keys/${sessionStorage.userId}`);
      this.isFav = JSON.stringify(ret.data).includes(this.id);
      console.log(this.isFav)

    }
  },
  created() {
    this.id && this.fetch();
    this.companyId != "undefined" && this.fetchSeller() && this.listFavKeys();
  }
};
</script>

<style lang="scss" scoped>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  // background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #77777a;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: "open sans,sans-serif";
  font-size: 14px;
}

.top-bar {
  border: 0px solid grey;
  display: flex;
  position: sticky;
  top: -20px;
  background-color: #f5f5f5;
  justify-content: space-between;
  z-index: 100;
}

.section {
  background: white;
  margin-top: 40px;
  padding: 25px;
  height: 0%;
}

.caption {
  font-size: 36px;
  font-weight: 700;
  color: #48484a;
  padding-bottom: 20px;
}

.overview {
  background: white;
  width: 63%;
  padding: 25px;
  height: 0%;
}

.project-info {
  font-size: 16px;
  font-weight: 700;
  color: #48484a;
  padding: 20px 0 10px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.row-block {
  display: flex;
  flex: 1;
}

.row-block-icon {
  padding-right: 50px;
  font-size: 25px;
}

.row-block-header {
  font-weight: 700;
  font-size: 14px;
}

.seller-body {
  line-height: 21px;
  color: #48484a;
  overflow: hidden;
}

.favorite {
  border:1px solid #DCDFE6;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.favorite:hover {
  color: #E8AC51;
  border-color: #E8AC51;
}

.document {
  width: 120px;
  max-width: 120px;
  max-height: 150px;
  height: 150px;
  border: none !important;
  border-radius: 3%;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
  text-decoration: none;
}

.thumbnailList {
  margin: 10px;
  height: 65px;
  width: 120px;
}

.pdf {
  background: linear-gradient(
        to left bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.2) 0
      )
      no-repeat 100% 0 / 2em 2em,
    linear-gradient(-135deg, transparent 1.5em, #e93115 0);
}

.jpg {
  background: linear-gradient(
        to left bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.2) 0
      )
      no-repeat 100% 0 / 2em 2em,
    linear-gradient(-135deg, transparent 1.5em, #378793 0);
}

.document .type {
  color: white;
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  top: 22px;
  text-transform: uppercase;
}

.document .name {
  color: white;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  height: 75px;
  word-break: break-word;
}

.document .size {
  color: #333;
  position: relative;
  left: 10px;
  font-size: 11px;
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

.carousle-section {
  width: 100%;
  text-align: center;
  padding: 0px 0;
  background: white;
  z-index: 100;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.9;
  line-height: 500px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
</style>
