<template>
    <div class="main-panel">
        <div style="display:flex;justify-content:space-between;padding:0 10px;">
            <h1>{{id ? 'Edit': 'Add'}} Project</h1>
            <div style="display:flex">
              <el-link v-if="activePriceList&&!sharedProperty"
                      icon="el-icon-edit"
                      @click="batchUploadVisible=true"
                      type="primary"
              >Batch Upload
              </el-link>
              <el-link v-if="activePriceList&&!sharedProperty"
                      style="margin-left: 10px"
                      icon="el-icon-edit"
                      @click="openPropertyInputPanel"
                      type="primary"
              >New Property
              </el-link>
            </div>
        </div>
        <el-form :model="model" ref="model" :rules="rules" label-width="100px">
            <el-tabs value="profile" type="border-card" @tab-click="clickTabs">
                <el-tab-pane name="profile" label="Profile">
                    <el-alert v-show="model.parentId"
                              :title="model.status == 'Obsolete'?'This property has been removed by its owner':'Only few fields can be edit for shared property, please review it before publishing'"
                              :type="model.status == 'Obsolete'?'error':'warning'" :closable=false show-icon></el-alert>
                    <br/>
                    <el-form-item v-show="model.parentId" prop="fromAgent" label="From Channel">
                        <el-link type="primary">{{model.fromAgent}}</el-link>
                    </el-form-item>
                    <el-form-item v-show="model.parentId" prop="fromAgentCOMSN" label="Channel COMSN">
                        <el-input prefix-icon="el-icon-coin" v-model="model.fromAgentCOMSN" :disabled="sharedProperty"
                                  style="width:200px;"/>
                    </el-form-item>
                    <el-form-item prop="category" label="Category">
                        <el-radio-group v-model="model.category" size="medium">
                            <el-radio-button
                                    v-for="item in categories"
                                    :label="item"
                                    :key="item"
                            >{{item.split('|')[0]}}
                            </el-radio-button>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item prop="location" label="Region">
                        <el-radio-group v-model="model.location" size="medium">
                            <el-radio-button v-for="item in locations" :label="item" :key="item">{{item}}
                            </el-radio-button>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item prop="projectStatus" label="Project status">
                        <el-radio-group v-model="model.projectStatus" size="medium">
                            <el-radio-button v-for="item in projectStatus" :label="item" :key="item">{{item}}
                            </el-radio-button>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item prop="images" label="Images">
                        <span slot="label">Images
                            <el-tooltip effect="dark" content="The first image would be the Cover Image"
                                        placement="right">
                            <i class="el-icon-info"/>
                            </el-tooltip>
                        </span>
                        <el-upload
                                ref="imgUpload"
                                :disabled="sharedProperty"
                                :action="$http.uploadURL + 'upload'"
                                :headers="{'id':generateId(id), 'companyid': companyId, 'type':'property', 'authorization':token}"
                                list-type="picture-card"
                                accept=".jpg, .jpeg, .JPG, .JPEG"
                                multiple
                                :limit=11
                                :file-list="model.images"
                                :on-preview="handlePicCardPreview"
                                :on-remove="handleRemove"
                                :before-upload="beforeImageUpload"
                                :on-change="uploadImageChange"
                        >
                            <i class="el-icon-plus" v-show="!sharedProperty"></i>
                        </el-upload>
                        <el-dialog :visible.sync="dialogVisible" :modalAppendToBody="false">
                            <img width="100%" :src="dialogImageUrl" alt/>
                        </el-dialog>
                    </el-form-item>
                    <el-form-item prop="Videos" label="Videos">
                        <el-upload
                                ref="videoUploader"
                                :disabled="sharedProperty"
                                action="123"
                                list-type="picture-card"
                                multiple
                                accept=".mp4"
                                :limit=5
                                :file-list="model.videos"
                                :http-request="videoUpload"
                                :on-preview="handleVideoPreview"
                                :on-remove="handleVideoRemove"
                                :before-upload="beforeVideoUpload"
                                :on-exceed="videoExceed"
                        >
                            <div class="el-upload__tip" slot="tip">limit 5 videos with a size less than 300MB</div>
                            <i class="el-icon-plus" v-show="!sharedProperty"></i>
                        </el-upload>
                        <el-dialog :visible.sync="dialogVideoVisible" @open="reloadVideo" @close="pauseVideo" :modalAppendToBody="false">
                            <video ref="videoPlayer" id="videoPlayer" width="100%" height="400px" controls>
                                <source :src="this.currentVideoUrl" type="video/mp4">
                                Your browser does not support the video.
                            </video>
                        </el-dialog>
                    </el-form-item>
                    <el-form-item prop="projectName" label="Project Name">
                        <el-input v-model="model.projectName" :disabled="sharedProperty"></el-input>
                    </el-form-item>
                    <el-form-item prop="address" label="Address">
                        <el-autocomplete
                                style="width:100%"
                                v-model="model.address"
                                value-key="name"
                                :fetch-suggestions="querySearchAsync"
                                @select="handleSelect"
                                :disabled="sharedProperty"
                        >
                            <el-button slot="append" icon="el-icon-map-location" @click="toggleMap"></el-button>
                        </el-autocomplete>
                    </el-form-item>

                    <el-form-item v-show="mapVisible">
                        <GmapMap
                                :center="{lat:model.lat, lng:model.lng}"
                                :zoom="14"
                                map-type-id="roadmap"
                                style="width:1000px; height:400px"
                        >
                            <GmapMarker
                                    :key="index"
                                    v-for="(m, index) in markers"
                                    :position="m.position"
                                    :clickable="true"
                                    :draggable="true"
                                    @click="center=m.position"
                            />
                        </GmapMap>
                        <el-tabs v-model="activeSchoolTab" @tab-click="handleSchoolTabClick">
                            <el-tab-pane label="All" name="all">
                                <el-table :show-header="false" :data="allSchools" style="width: 100%"
                                          empty-text="No Data Display">
                                    <el-table-column prop="name" width="300"></el-table-column>
                                    <el-table-column prop="educationLevel" width="180"></el-table-column>
                                    <el-table-column prop="type"></el-table-column>
                                    <el-table-column prop="distanceFromLocation"
                                                     :formatter="formatDistance"></el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane label="Primary" name="primary">
                                <el-table :show-header="false" :data="primary" style="width: 100%"
                                          empty-text="No Data Display">
                                    <el-table-column prop="name" width="300"></el-table-column>
                                    <el-table-column prop="educationLevel" width="180"></el-table-column>
                                    <el-table-column prop="type"></el-table-column>
                                    <el-table-column prop="distanceFromLocation"
                                                     :formatter="formatDistance"></el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane label="Secondary" name="secondary">
                                <el-table :show-header="false" :data="secondary" style="width: 100%"
                                          empty-text="No Data Display">
                                    <el-table-column prop="name" width="300"></el-table-column>
                                    <el-table-column prop="educationLevel" width="180"></el-table-column>
                                    <el-table-column prop="type"></el-table-column>
                                    <el-table-column prop="distanceFromLocation"
                                                     :formatter="formatDistance"></el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-form-item v-if="allSchools.length" style="text-align:center;">
                                <el-link type="primary" @click="showAllSchools">Show all nearby schools</el-link>
                            </el-form-item>
                        </el-tabs>
                    </el-form-item>

                    <!--                    <div style="display: flex;width:100%;">-->
                    <!--                        <el-form-item label="Bedroom" class="configuration">-->
                    <!--                            <el-input prefix-icon="iconfont icon-chuangxing-" v-model="model.room"-->
                    <!--                                      :disabled="sharedProperty"/>-->
                    <!--                        </el-form-item>-->
                    <!--                        <el-form-item label="Toilet" class="configuration">-->
                    <!--                            <el-input prefix-icon="iconfont icon-yugang" v-model="model.toilet"-->
                    <!--                                      :disabled="sharedProperty"/>-->
                    <!--                        </el-form-item>-->
                    <!--                        <el-form-item label="Garage" class="configuration">-->
                    <!--                            <el-input prefix-icon="iconfont icon-car" v-model="model.garage"-->
                    <!--                                      :disabled="sharedProperty"/>-->
                    <!--                        </el-form-item>-->
                    <!--                    </div>-->
                    <el-form-item prop="commission" label="Commission">
                        <el-input prefix-icon="el-icon-coin" v-model="model.commission" style="width:150px;margin-right:10px;"/>
                        <el-checkbox v-model="model.gst">GST Included</el-checkbox>
                    </el-form-item>
                    <div style="display: inline-flex;width:100%;">
                        <!--                        <el-form-item label="Price from">-->
                        <!--                            <el-input prefix-icon="el-icon-coin" v-model="model.price" :disabled="sharedProperty"/>-->
                        <!--                        </el-form-item>-->
                        <el-form-item label="Est.comp">
                            <el-date-picker
                                    v-model="model.estCompletion"
                                    type="month"
                                    value-format="yyyy-MM"
                                    format="yyyy-MM"
                                    :disabled="sharedProperty"
                            ></el-date-picker>
                        </el-form-item>


                        <!--                        <el-form-item label="Total Properties" label-width="120px">-->
                        <!--                            <el-input prefix-icon="el-icon-office-building" v-model="model.totalProperties"-->
                        <!--                                      :disabled="sharedProperty"></el-input>-->
                        <!--                        </el-form-item>-->
                    </div>

                    <el-form-item label="Description">
                        <el-tabs type="border-card">
                            <el-tab-pane label="English">
                                <vue-editor v-model="model.desc" :disabled="sharedProperty"></vue-editor>
                            </el-tab-pane>
                            <!--                            <el-tab-pane label="中文">-->
                            <!--                                <vue-editor v-model="model.cn_desc" :disabled="sharedProperty"></vue-editor>-->
                            <!--                            </el-tab-pane>-->
                        </el-tabs>
                    </el-form-item>
                </el-tab-pane>

                <el-tab-pane name="documents" label="Document">
                    <el-form-item label="Documents" v-if="!sharedProperty">
                        <el-upload
                                ref="upload"
                                class="upload-demo"
                                :action="$http.uploadURL + 'upload'"
                                :headers="{'id':generateId(id), 'companyid': companyId, 'type':'property','authorization':token}"
                                accept=".PDF, .doc, .png, .jpg"
                                :auto-upload="true"
                                :file-list="model.attachments"
                                :on-preview="handlePDFPreview"
                                :on-remove="handlePDFRemove"
                                :before-upload="beforePDFUpload"
                                :on-success="afterPDFUpload"
                        >
                            <el-button size="small" type="primary">Upload</el-button>
                            <div slot="tip" class="el-upload__tip">File size must be less than 10M</div>
                        </el-upload>
                        <el-dialog :visible.sync="dialogPDFVisible" :modalAppendToBody="false">
                            <embed :src="dialogPDFUrl" type="application/pdf" height="800" width="100%"/>
                        </el-dialog>
                    </el-form-item>
                    <div v-else>
                        <div @click="handlePDFPreview(item)" class="document"
                             :class="item.fileType.split('/')[1]=='pdf'?'pdf':'jpg'"
                             v-for="(item, index) in this.model.attachments" :key="index">
                            <div class="type">{{item.fileType.split("/")[1]}}</div>
                            <div class="name">{{item.name}}</div>
                            <div class="size">{{item.size}}MB</div>
                        </div>
                        <el-dialog :visible.sync="dialogPDFVisible" :modalAppendToBody="false">
                            <embed v-if="dialogFileType == 'application/pdf'" :src="dialogPDFUrl" type="application/pdf"
                                   height="800" width="100%"/>
                            <img v-else width="100%" :src="dialogPDFUrl" alt/>
                        </el-dialog>
                    </div>
                </el-tab-pane>


                <el-tab-pane name="PriceList" label="Property List">
                    <el-table :data="model.priceList" style="width: 100%" empty-text="Add Each Property">
                        <el-table-column prop="storey" label="Lot"></el-table-column>
                        <el-table-column prop="room" label="Room"></el-table-column>
                        <el-table-column prop="toilet" label="Toilet"></el-table-column>
                        <el-table-column prop="garage" label="Garage"></el-table-column>
                        <el-table-column label="Internal Area">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.internalArea }} m²</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="landArea" label="Land Area">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.landArea }} m²</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="price" label="Price">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">${{ scope.row.price.replace(/\B(?=(\d{3})+(?!\d))/g, ",") }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="status" label="Status">
                            <template slot-scope="props">
                                <el-tag
                                        :type="props.row.status?'success':'danger'"
                                        effect="light"
                                        style="text-align:center;"
                                >{{props.row.status?'Available':'Sold'}}
                                </el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="floorPlan" label="Floor Plan">
                            <template slot-scope="scope">
                                <el-link v-if="scope.row.floorPlan.name" icon="el-icon-share" style="color:#409EFF"
                                         :href="scope.row.floorPlan.url" target="_blank">
                                </el-link>
                                <i v-else class="el-icon-share"></i>
                            </template>
                        </el-table-column>
                        <el-table-column v-if="!model.parentId" fixed="right" label="Actions">
                            <template slot-scope="scope">
                                <el-button
                                        type="text"
                                        size="small"
                                        @click="editProperty(scope.row.id)"
                                >Edit
                                </el-button>
                                <el-button @click="removeProperty(scope.row)" type="text" size="small">Delete
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                    <el-dialog title="Add New Property" :visible.sync="propertyInputVisible" :modalAppendToBody="false">
                        <div style="display: flex;width:100%;">
                            <el-form-item label="Lot" class="configuration">
                                <el-input prefix-icon="iconfont icon-loufang" v-model="property.storey"></el-input>
                            </el-form-item>
                            <el-form-item label="Bedroom" class="configuration" style="margin-left: 65px;">
                                <!--                                <el-input prefix-icon="iconfont icon-chuangxing-" v-model="property.room"/>-->
                                <el-input-number size="small" v-model="property.room" :min="1"
                                                 :max="10"></el-input-number>
                            </el-form-item>
                        </div>
                        <div style="display: flex;width:100%;">
                            <el-form-item label="Toilet" class="configuration">
                                <!--                                <el-input prefix-icon="iconfont icon-yugang" v-model="property.toilet"/>-->
                                <el-input-number size="small" v-model="property.toilet" :min="1"
                                                 :max="10"></el-input-number>
                            </el-form-item>
                            <el-form-item label="Garage" class="configuration" style="margin-left: 65px;">
                                <!--                                <el-input prefix-icon="iconfont icon-car" v-model="property.garage"/>-->
                                <el-input-number size="small" v-model="property.garage" :min="0"
                                                 :max="10"></el-input-number>
                            </el-form-item>
                        </div>
                        <div style="display: flex;width:100%;">
                            <el-form-item label="Internal" class="configuration">
                                <el-input prefix-icon="iconfont icon-mianji" v-model="property.internalArea"/>
                            </el-form-item>
                            <el-form-item label="Land" class="configuration">
                                <el-input prefix-icon="iconfont icon-B-mianji" v-model="property.landArea"/>
                            </el-form-item>
                        </div>
                        <div style="display: flex;width:100%;">
                            <el-form-item label="Price" class="configuration">
                                <el-input prefix-icon="el-icon-coin" v-model="property.price"/>
                            </el-form-item>
                            <el-form-item label="Availability" class="configuration">
                                <el-switch v-model="property.status"></el-switch>
                            </el-form-item>
                        </div>
                        <div style="display: flex;width:100%;">
                            <el-form-item label="Floor Plan" class="configuration">
                                <el-upload
                                        ref="upload"
                                        class="upload-demo"
                                        :style="floorPlanUrl.length == 0?'margin-top: 0px' : 'margin-top:-40px'"
                                        :action="$http.uploadURL + 'upload'"
                                        :headers="{'id':generateId(id), 'companyid': companyId, 'type':'property','authorization':token}"
                                        accept=".png, .jpg"
                                        :auto-upload="true"
                                        :file-list="floorPlanUrl"
                                        :on-remove="handleFloorPlanRemove"
                                        :before-upload="beforeFloorPlanUpload"
                                        :on-success="afterFloorPlanUpload">
                                    <el-button v-if="floorPlanUrl.length == 0" size="small" type="primary">Upload
                                    </el-button>
                                </el-upload>

                            </el-form-item>
                        </div>

                        <div slot="footer" class="dialog-footer">
                            <el-button @click="cancelPropertyInputConfirm">Cancel</el-button>
                            <el-button type="primary" @click="handlePropertyInputConfirm">Confirm</el-button>
                        </div>
                    </el-dialog>

                </el-tab-pane>

                <el-tab-pane name="Sales" label="Sales">
                    <el-table :data="propertySales" style="width: 100%" empty-text="Create Sales List before assigning">
                        <el-table-column prop="avatar" label>
                            <template slot-scope="scope">
                                <img :src="scope.row.picture" style="height:3rem;width:3rem;border-radius:50%" onerror="this.src='/img/anonymous.png'"/>
                            </template>
                        </el-table-column>
                        <el-table-column prop="name" label="Name"></el-table-column>
                        <el-table-column prop="custom:title" label="Title"></el-table-column>
                        <el-table-column prop="custom:phone" label="Phone"></el-table-column>
                        <el-table-column prop="email" label="Email"></el-table-column>
                        <el-table-column fixed="right" label="Link" width="180">
                            <template slot-scope="scope">
                                <el-switch
                                        :value="model.sales.includes(scope.row.sub)"
                                        active-color="#13ce66"
                                        inactive-color="#efefef"
                                        @change="linkSales(scope.row.sub)"
                                ></el-switch>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>

                <el-tab-pane name="Channel" label="Channel">
                    <el-table :data="companies" style="width: 100%" empty-text="Create Channel List before sharing">
                        <el-table-column prop="logo" label="Photo" width="130">
                            <template slot-scope="scope">
                                <img :src="scope.row.logo" style="height:50px;width:50px;border-radius:50%"/>
                            </template>
                        </el-table-column>
                        <el-table-column prop="name" label="Name" sortable></el-table-column>
                        <el-table-column prop="address" label="Address"></el-table-column>
                        <el-table-column prop="phone" label="Phone"></el-table-column>
                        <el-table-column prop="email" label="Email"></el-table-column>
                        <el-table-column fixed="right" label="Share" width="180">
                            <template slot-scope="scope">
                                <el-switch
                                        :value="model.agents.includes(scope.row.id)"
                                        active-color="#13ce66"
                                        inactive-color="#efefef"
                                        @change="shareToAgents(scope.row.id)"
                                ></el-switch>
                            </template>
                        </el-table-column>
                    </el-table>


                </el-tab-pane>
            </el-tabs>

            <el-form-item style="margin-top:1rem;justify-content:flex-end;display:flex;">
                <span style="margin-right: 10px" v-show="model.status != 'Obsolete'">
                <el-checkbox v-model="model.published" size="small" style="margin-right:10px;" @change="tickPublish">
                    Publish
                </el-checkbox>
                <el-button type="primary" @click="submitForm('model')">Save</el-button>
                </span>
                <el-button @click="cancel">Cancel</el-button>
            </el-form-item>
        </el-form>
          <el-dialog
            title="Batch Upload"
            :visible.sync="batchUploadVisible"
            width="60%"
            append-to-body="false">
            <el-row align="middle" :gutter="20">
              <el-col :span="12" style="padding-left:50px">
                <el-upload
                  drag
                  action="https://jsonplaceholder.typicode.com/posts/"
                  accept=".csv"
                  limit="1"
                  :on-exceed="handlerExceedBatchUpload"
                  :on-success="successBatchFileUpload"
                  :file-list="batchUploadList">
                  <i class="el-icon-upload"></i>
                  <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                  <div class="el-upload__tip" slot="tip">csv file with a size less than 500kb</div>
                </el-upload>
              </el-col>
              <el-col :span="12">
                <a href="batchPropertiesUpload.csv" style="text-decoration: none">
                  <el-card id="batch-upload-box" class="box-card" shadow="never">
                    <div style="margin-top:10px; text-align: center">
                      <i class="el-icon-s-order" style="font-size: 67px; color: #C0C4CC"></i>
                      <p style="color: #606266; font-size: 14px">Download template</p>
                    </div>
                  </el-card>
                </a>
              </el-col>
            </el-row>
            <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="batchUploadVisible = false">Close</el-button>
          </span>
        </el-dialog>
    </div>
</template>

<script>
  import {http} from "../../utils/http";

  const axios = require("axios");
  const shortid = require("shortid");
  import {VueEditor} from "vue2-editor";
  import * as HTTP from '../../APIs/http';
  import * as SLS from '../../APIs/sls';

  export default {
    components: {
      VueEditor
    },

    props: {
      id: {}
    },
    data() {
      return {
        activeSchoolTab: "all",
        activePriceList: false,
        propertyInputVisible: false,
        batchUploadVisible: false,
        suburbs: [],
        propertySales: null,
        companies: null,
        items1: [],
        model: {
          id: "",
          parentId: "",
          published: false,
          status: "Draft",
          companyId: sessionStorage.companyId,
          commission: "",
          gst:false,
          projectName: "",
          projectStatus: "",
          category: "",
          location: "",
          address: "",
          lat: -37.8136276,
          lng: 144.9630576,
          minRoom: "",
          maxRoom: "",
          minToilet: "",
          maxToilet: "",
          minPrice: "",
          maxPrice: "",
          garage: "",
          estCompletion: "",
          availProperties: 0,
          totalProperties: "",
          desc: "",
          cn_desc: "",
          suburb: "",
          images: [],
          videos: [],
          features: [],
          attachments: [],
          priceList: [],
          schools: [],
          sales: [],
          agents: [],
          fromAgent: sessionStorage.company,
          fromAgentId: sessionStorage.companyId,
          fromAgentCOMSN: "",
        },
        property: {
          id: "",
          storey: 1,
          room: 1,
          toilet: 1,
          garage: 1,
          price: "",
          internalArea: "",
          landArea: "",
          status: true,
          floorPlan: []
        },
        floorPlanUrl: [],
        dialogImageUrl: "",
        dialogVideoUrl: "",
        currentVideoUrl:"",
        dialogVisible: false,
        dialogVideoVisible: false,
        dialogPDFUrl: "",
        dialogFileType: "application/pdf",
        dialogPDFVisible: false,
        companyId: sessionStorage.companyId,
        token: "Bearer " + sessionStorage.token,
        addrSugBox: [],
        markers: [],
        allSchools: [],
        primary: [],
        secondary: [],
        mapVisible: false,
        displayAllSchools: false,
        locations: "",
        categories: "",
        agentsUpdate: {
          propertyId: "",
          removedList: [],
          addedList: []
        },
        sharedProperty: false,
        preSignedURL: "",
        progressPercent:0,
        allowVideoUpload: false,
        rules: {
          commission: [
            {required: true, message: "Commission is empty", trigger: "blur"}
          ],
          category: [
            {required: true, message: "Please select property category", trigger: "blur"}
          ],
          images: [
            {required: true, message: "Please upload image", trigger: "blur"}
          ],
          address: [
            {required: true, message: "Address is empty", trigger: "blur"}
          ],
        },
        batchUploadList: []
      };
    },

    methods: {
      generateId(id) {
        var pid = id
          ? id
          : (this.model.id = this.model.id ? this.model.id : shortid.generate());
        return pid;
      },

      clickTabs(tab) {
        this.activePriceList = false;
        if ("Sales" == tab.name && !this.propertySales) {
          this.fetchSales();
        } else if ("Channel" == tab.name && !this.companies) {
          this.fetchCompanies();
        } else if ("PriceList" == tab.name) {
          this.activePriceList = true;
        }
      },

      submitForm(formName) {
        this.$refs[formName].validate(valid => {
          if (valid) {
            this.save();
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      },

      async save() {
        if (this.id) {
          if (this.model.parentId) {
            //for shared property and customised part
            let newModel = {};
            newModel.id = this.id;
            newModel.parentId = this.model.parentId;
            newModel.originId = this.model.originId;
            newModel.published = this.model.published;
            newModel.companyId = sessionStorage.companyId;
            newModel.category = this.model.category;
            newModel.location = this.model.location;
            newModel.sales = this.model.sales;
            newModel.agents = this.model.agents;
            newModel.status = this.model.status;
            newModel.commission = this.model.commission;
            newModel.fromAgent = this.model.fromAgent;
            newModel.fromAgentId = this.model.fromAgentId;
            newModel.fromAgentCOMSN = this.model.fromAgentCOMSN;
            await HTTP.updateProperty(this.id, newModel);
          } else {
            this.calPriceRoomToilet();
            await HTTP.updateProperty(this.id, this.model);
          }
        } else {
          this.calPriceRoomToilet();
          await HTTP.postProperty(this.model);
        }

        if (this.agentsUpdate.removedList.length > 0 || this.agentsUpdate.addedList.length > 0) {
          this.agentsUpdate.propertyId = this.model.id;
          this.agentsUpdate.fromAgent = sessionStorage.company;
          this.agentsUpdate.fromAgentId = sessionStorage.companyId;
          this.agentsUpdate.fromAgentCOMSN = this.model.commission;
          await SLS.updateSharing(this.agentsUpdate);
        }

        this.$router.push("/properties/list");
        this.$message({message: "Saved successfully", type: "success"});
      },

      calPriceRoomToilet() {
        let minRoom = 100, minToilet = 100, minPrice = Number.MAX_SAFE_INTEGER;
        let maxRoom = 0, maxToilet = 0, maxPrice = 0;
        this.model.priceList.forEach(p => {
          minRoom = p.room < minRoom ? p.room : minRoom;
          maxRoom = p.room > maxRoom ? p.room : maxRoom;
          minToilet = p.toilet < minToilet ? p.toilet : minToilet;
          maxToilet = p.toilet > maxToilet ? p.toilet : maxToilet;
          minPrice = Number(p.price) < Number(minPrice) ? p.price : minPrice;
          maxPrice = p.price > maxPrice ? p.price : maxPrice;
        })
        this.model.minPrice = minPrice;
        this.model.minRoom = minRoom;
        this.model.maxRoom = maxRoom;
        this.model.minToilet = minToilet;
        this.model.maxToilet = maxToilet;
        this.model.availProperties = this.model.priceList.filter(p => p.status == true).length

      },

      cancel() {
        this.$router.push("/properties/list");
      },

      beforeImageUpload(file) {
        const isJPG = file.type === "image/jpeg";
        const isLt5M = file.size / 1024 / 1024 < 5;

        if (!isJPG) {
          this.$message.error("Only allow JPG file!");
        }
        if (!isLt5M) {
          this.$message.error("File size must be less than 5MB!");
        }
        return isJPG && isLt5M;
      },

      async beforeVideoUpload(file) {
        const isMP4 = file.type === "video/mp4";
        const isLt50M = file.size / 1024 / 1024 < 300;

        if (!isMP4) {
          this.$message.error("Only allow MP4 file!");
        }
        if (!isLt50M) {
          this.$message.error("File size must be less than 300MB!");
        }
        this.allowVideoUpload = isMP4 && isLt50M;
        return this.allowVideoUpload;
      },

      async videoUpload(video) {
        if(this.allowVideoUpload) {
            let config = {
              headers: {
                'id': this.generateId(this.id),
                'filename': video.file.name,
              }
            };

            const res = await SLS.presignedURL(config);
            if(res.status == 200) {
                axios.put(res.data.signedUrl, video.file, {
                    headers: {
                      'Content-Type': 'multipart/form-data',
                    },
                  onUploadProgress: progressEvent => {
                      let percent=(progressEvent.loaded / progressEvent.total * 100) | 0
                      video.onProgress({percent:percent})
                    }
                  }).then(()=>{
                    let key = this.model.companyId + "/property/" + config.headers['id'] + '/' + config.headers['filename'];
                    this.model.videos.push({
                      uid: video.file.uid,
                      url: http.STORAGE_URL + key.replace(/\.\w+$/, ".jpg"), //thumbnail
                      video: http.STORAGE_URL + key
                    })
                }).catch(()=>{

                })
            }
        }
      },

      videoExceed() {
        this.$message.error("Only allow uploading 5 videos per project");
      },

      uploadImageChange(file, fileList) {
        if (this.$refs.imgUpload.uploadFiles.filter(i => {
          return i.status !== "success"
        }).length === 0) {
          fileList.forEach(f => {
            if (f.status === "success" && f.response) {
              this.model.images.push({url: f.response.url});
            }
          });
        }
      },

      handleRemove(file, fileList) {
        this.model.images = fileList;
      },

      handlePicCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },

      handleVideoPreview(file) {
        let video = this.model.videos.filter(v=> file.uid == v.uid);
        this.dialogVideoUrl = video[0].video;
        this.dialogVideoVisible = true;
      },

      reloadVideo() {
        if(this.currentVideoUrl != this.dialogVideoUrl) {
          this.currentVideoUrl = this.dialogVideoUrl;
          this.$refs.videoPlayer.load();
        }

      },

      pauseVideo() {
        this.$refs.videoPlayer.pause();
      },

      handlePDFPreview(file) {
        this.dialogPDFUrl = file.url;
        this.dialogFileType = file.fileType;
        this.dialogPDFVisible = true;
      },

      handleVideoRemove(file) {
        this.$confirm('Are you sure to delete this video?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.model.videos = this.model.videos.filter(v=> file.uid != v.uid);
        }).catch(() => {
        });
      },

      handlePDFRemove(file, fileList) {
        this.model.attachments = fileList;
      },

      uploadVideoChange() {

      },

      beforePDFUpload(file) {
        const isPDF =
          file.type === "application/pdf" ||
          file.type === "application/doc" ||
          file.type === "image/jpeg" ||
          file.type === "image/png";
        const isLt10M = file.size / 1024 / 1024 < 10;
        var overwrite = true;

        if (!isPDF) {
          this.$message.error("Only allow PDF/Doc/PNG/JPG file!");
        }
        if (!isLt10M) {
          this.$message.error("File size must be less than 10MB!");
        }

        return isPDF && isLt10M && overwrite;
      }
      ,

      afterPDFUpload(res) {
        this.$message({
          type: "success",
          message:
            "Upload the file successfully, remember to click the save button"
        });

        this.model.attachments.push({
          name: res.originalname,
          url: res.url,
          fileType: res.mimetype,
          size: (res.size / (1024 * 1024)).toFixed(2)
        });
      }
      ,

      handleFloorPlanRemove() {
        this.model.priceList.forEach(p => {
          if (p.id == this.property.id) {
            p.floorPlan = [];
            this.floorPlanUrl = [];
          }
        })
      }
      ,

      beforeFloorPlanUpload(file) {
        const isJPG = (file.type === "image/jpeg" || file.type === "image/png");
        const isLt5M = file.size / 1024 / 1024 < 5;

        if (!isJPG) {
          this.$message.error("Only allow Image file!");
        }
        if (!isLt5M) {
          this.$message.error("File size must be less than 5MB!");
        }
        return isJPG && isLt5M;
      }
      ,

      afterFloorPlanUpload(res) {
        this.property.floorPlan = {name: res.originalname, url: res.url};
        this.model.priceList.forEach(p => {
          if (p.id == this.property.id) {
            p = this.property;
          }
        })
      }
      ,

      async querySearchAsync(queryString, cb) {
        var url = this.$http.UTIL_URL + "address?q=";
        var results = await axios.get(url + queryString);
        var tips = results.data;
        cb(tips);
      }
      ,

      toggleMap() {
        this.mapVisible = !this.mapVisible;
      }
      ,

      async handleSelect(item) {
        var url = this.$http.UTIL_URL + "geometry?q=";
        var ret = await axios.get(url + item.name);
        var result = ret.data;
        if (result) {
          this.model.lat = result.results[0].geometry.location.lat;
          this.model.lng = result.results[0].geometry.location.lng;
          this.markers = [];
          this.markers.push({
            position: {
              lat: this.model.lat,
              lng: this.model.lng
            }
          });
          this.loadSchools();
          this.loadTransport();
        }
      },

      async loadTransport() {
        var url = "https://util.weproperty.com.au/stops/?coordinate=" +
            this.model.lat + "," + this.model.lng;
        var ret = await axios.get(url);
        this.model.transport = ret.data.sort((a, b) => {
          return a.stop_distance - b.stop_distance;
        });
      },

      async loadSchools() {
        var url =
          "https://util.weproperty.com.au/schools/?coordinate=" +
          this.model.lat +
          "," +
          this.model.lng;
        var ret = await axios.get(url);
        var result = ret.data;
        if (result) {
          var schools = [];
          result.forEach(s => {
            s.distanceFromLocation = (s.distanceFromLocation / 1000).toFixed(2);
            schools.push(s);
          });
          schools.sort((a, b) => {
            return a.distanceFromLocation - b.distanceFromLocation;
          });
          this.model.schools =
            schools.length < 10 ? schools : schools.slice(0, 10);
          this.allSchools = this.displayAllSchools
            ? this.model.schools
            : this.model.schools.slice(0, 3);
          this.primary = [];
          this.secondary = [];
        }
      }
      ,

      formatDistance(row) {
        return `${row.distanceFromLocation} km`;
      }
      ,

      handleSchoolTabClick() {
        // if (this.primary.length == 0 || this.secondary.length == 0) {
        this.primary = this.model.schools.filter(s => s.highYear == "6");
        this.secondary = this.model.schools.filter(s => s.highYear == "12");
        if (!this.displayAllSchools) {
          this.primary = this.primary.slice(0, 3);
          this.secondary = this.secondary.slice(0, 3);
        }
        // }
      }
      ,

      showAllSchools() {
        this.allSchools = this.model.schools;
        this.displayAllSchools = true;
      }
      ,

      linkSales(id) {
        var index = this.model.sales.indexOf(id);
        if (index > -1) {
          this.model.sales.splice(index, 1);
        } else {
          this.model.sales.push(id);
        }
      }
      ,

      shareToAgents(id) {
        if (this.model.published) {
          var index = this.model.agents.indexOf(id);
          if (index > -1) {
            if (this.agentsUpdate.addedList.includes(id)) {
              this.agentsUpdate.addedList.splice(this.agentsUpdate.addedList.indexOf(id), 1);
            }
            this.model.agents.splice(index, 1);
            this.agentsUpdate.removedList.push(id);
          } else {
            if (this.agentsUpdate.removedList.includes(id)) {
              this.agentsUpdate.removedList.splice(this.agentsUpdate.removedList.indexOf(id), 1);
            }
            this.model.agents.push(id);
            this.agentsUpdate.addedList.push(id);
          }
        } else {
          this.$message.error("You can only share the published property");
        }
      }
      ,

      tickPublish(status) {
        if (!status && this.model.agents.length > 0) {
          this.$confirm('This action would disable Channel Sharing, continue?', 'Warning', {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning'
          }).then(() => {
            this.agentsUpdate.removedList = this.model.agents;
            this.model.agents = [];
          }).catch(() => {
            this.model.published = true;
          });
        }
        if (status) {
          this.model.status = "Published";
        } else {
          this.model.status = "Draft";
        }
      }
      ,

      openPropertyInputPanel() {
        this.property = new Object();
        this.property.floorPlan = [];
        this.floorPlanUrl = [];
        this.propertyInputVisible = true;
      }
      ,

      cancelPropertyInputConfirm() {
        this.propertyInputVisible = false;
        this.property = new Object();
      }
      ,

      handlePropertyInputConfirm() {
        if (this.property.id) {
          this.model.priceList.forEach(p => {
            if (p.id == this.property.id) {
              p = this.property;
            }
          })
        } else {
          this.property.id = shortid.generate();
          this.model.priceList.push(this.property);
        }
        this.propertyInputVisible = false;
        this.property = new Object();
      }
      ,

      async successBatchFileUpload(res, file) {
        var reader = new FileReader();
        var result = await new Promise((resolve) => {
          reader.readAsText(file.raw);
          reader.onloadend = function() {
            resolve(this.result);
          }
        });

        var properties = result.split("\n");
        if(properties.length<=1) {
          this.$message('The batch file should have at least one record');
          this.batchUploadVisible = false;
          this.batchUploadList = [];
          return;
        }
        if (!properties[0]=="storey, room, toilet, garage, price, internalArea, landArea, status") {
          this.$message("Don't manipulate format of the template");
          this.batchUploadVisible = false;
          this.batchUploadList = [];
          return;
        }
        for (let i=1; i< properties.length; i++) {
          let property_arr = properties[i].split(',');
          if (!this.checkFormat(i, property_arr)) 
            return;
          let property = new Object();
          property.id = shortid.generate();
          property.storey = property_arr[0];
          property.room = property_arr[1];
          property.toilet = property_arr[2];
          property.garage = property_arr[3];
          property.price = property_arr[4];
          property.internalArea = property_arr[5];
          property.landArea = property_arr[6];
          property.status = property_arr[7] == 'true' ? true : false;
          property.floorPlan = [];
          this.model.priceList.push(property);
        }
        let info = `Successfully upload ${properties.length - 1} property info, remember to save your change.`;
        this.$message(info);
        this.batchUploadVisible = false;
        this.batchUploadList = [];
      },

      checkFormat(index, property_arr) {
          // batch upload file should have 8 fields
          if (property_arr.length!=8) {
            this.$message(`Wrong format detected in record ${index}, batch upload interrupted. Record should have exactly 8 fields.`)
            this.batchUploadVisible = false;
            this.batchUploadList = [];
            return false;
          }
          // first 7 column should be numeric value
          for (var i=0; i<7;i++){
            if (isNaN(property_arr[i])) {
              this.$message(`Wrong format detected in record ${index}, batch upload interrupted. Field 1 - 6 should be numeric value.`)
              this.batchUploadVisible = false;
              this.batchUploadList = [];
              return false;
            }
          }
          // 8th column should be boolean value
          if (property_arr[7].toLowerCase() !== 'true' && property_arr[7].toLowerCase() !== 'false') {
            this.$message(`Wrong format detected in record ${index}, batch upload interrupted. Field 7 should be true/false.`)
            this.batchUploadVisible = false;
            this.batchUploadList = [];
            return false;
          } 
          return true;
      },

      handlerExceedBatchUpload() {
        this.$message('Only accept one batch file');
      },

      editProperty(id) {
        this.floorPlanUrl.pop();
        this.property = this.model.priceList.filter(p => p.id == id)[0];
        if (this.property.floorPlan.name) {
          this.floorPlanUrl.push(this.property.floorPlan);
        }
        this.propertyInputVisible = true;
      }
      ,

      removeProperty(row) {
        this.$confirm(`Sure to delete this property ${row.storey}?`, "Confirmation", {
          confirmButtonText: "Delete",
          cancelButtonText: "Cancel",
          type: "warning"
        }).then(async () => {
          this.model.priceList = this.model.priceList.filter(p => p.id != row.id);
        });
      }
      ,

      async fetch() {
        const res = await SLS.getPropertyById(this.id);
        this.model = Object.assign({}, this.model, res.data);
        this.sharedProperty = this.model.parentId ? true : false;
        this.allSchools = this.model.schools.slice(0, 3);
        this.markers.push({
          position: {
            lat: this.model.lat,
            lng: this.model.lng
          }
        });
      }
      ,

      async fetchSales() {
        const res = await SLS.getUsers();
        this.propertySales = res.data.filter(user=>user.status === "CONFIRMED");
      }
      ,
      fetchPreference() {
        this.locations = ["North", "Southeast", "East", "West"];
        this.categories = ["Townhouse", "Apartment", "House", "Commercial"];
        this.projectStatus = ["Established", "Off the plan"];
      }
      ,
      async fetchCompanies() {
        const res = await HTTP.getCollection();
        this.companies = res.data[0].agents.filter(p=>p.id!=this.model.fromAgentId);
      }
    },
    created() {
      this.fetchPreference();
      this.id && this.fetch();
    }
  }
  ;
</script>

<style>


    .main-panel .el-form-item__label {
        /*padding: 0px !important;*/
    }

    .configuration .iconfont {
        font-size: 22px;
        padding-right: 5px;
        margin-right: 20px;
    }

    .document {
        width: 120px;
        max-width: 120px;
        max-height: 150px;
        height: 150px;
        border: 1px solid #EDEDED;
        border-radius: 3%;
        display: inline-block;
        margin: 0 15px;
        cursor: pointer;
        text-decoration: none;
    }

    .pdf {
        background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, .2) 0) no-repeat 100% 0 / 2em 2em, linear-gradient(-135deg, transparent 1.5em, #e93115 0);
    }

    .jpg {
        background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, .2) 0) no-repeat 100% 0 / 2em 2em, linear-gradient(-135deg, transparent 1.5em, #378793 0);
    }

    .document .type {
        color: white;
        position: relative;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        top: 22px;
        text-transform: uppercase;
    }

    .document .name {
        color: white;
        text-align: center;
        font-size: 13px;
        padding-top: 30px;
        height: 75px;
        word-break: break-word;
    }

    .document .size {
        color: #333;
        position: relative;
        left: 10px;
        font-size: 11px;
    }

    #batch-upload-box {
      height: 180px; 
      width: 360px;
      border: 1px dashed #d9d9d9; 
      border-radius: 6px;
    }

    #batch-upload-box:hover {
      border-color: rgb(102, 157,252);
    }
</style>

