<template>
    <div>
        <div style="display:flex;justify-content:space-between;padding:0 10px;">
            <h1>Message List</h1>
        </div>
        <el-table :data="items" style="width: 100%">
            <!--      <el-table-column prop="id" label="ID" width="130"></el-table-column>-->

            <el-table-column type="index" width="100"></el-table-column>
            <el-table-column prop="updatedAt" label="Last Update" sortable></el-table-column>
            <el-table-column prop="subject" label="Subject" sortable></el-table-column>
            <el-table-column prop="body" label="Body"></el-table-column>
            <el-table-column prop="viewed" label="Status" sortable width="300">
                <template slot-scope="props">
                    <el-tag
                            :type="props.row.viewed?'info':'success'"
                            effect="light"
                            style="width:60px;text-align:center;"
                    >{{props.row.viewed?'Viewed':'New'}}
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column fixed="right" label="Action" width="180">
                <template slot-scope="scope">
                    <el-button
                            type="text"
                            size="small"
                            @click="viewMsg(`${scope.row.id}`)">View
                    </el-button>
                    <el-button @click="remove(scope.row)" type="text" size="small">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog :title="message.subject" :visible.sync="dialogVisible" :modalAppendToBody="false">
            <span>{{message.body}}</span>
            <span slot="footer" class="dialog-footer"></span>
        </el-dialog>
    </div>
</template>
<script>
  import * as SLS from '../../../APIs/sls';
  export default {
    data() {
      return {
        items: [],
        dialogVisible: false,
        message: "",
      };
    },
    methods: {
      async fetch() {
        const res = await SLS.getMessages(sessionStorage.email);
        this.items = res.data;
        this.loading = false;
      },

      async viewMsg(id) {
        this.message = this.items.filter(i => i.id == id);
        if(this.message.length > 0) {
          this.message = this.message[0];
          this.dialogVisible = true;
          if(!this.message.viewed){
            await SLS.getMessage(id);
            this.fetch();
          }
        }
      },

      async remove(row) {
        this.$confirm("Are you sure to delete this message?", "Warning", {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }).then(async () => {
          await SLS.deleteMessage(row.id);
          this.$message({
            type: "success",
            message: "The message has been deleted!"
          });
          this.fetch();
        });
      }

    },
    created() {
      this.fetch();
    }
  };
</script>

<style scoped>
    span .el-tag {
       width:auto;
    }
</style>

