<template>
    <div>
        <div style="display:flex;justify-content:space-between;padding:0 10px;">
            <h1>Account Approval Page</h1>
        </div>
        <el-tabs v-model="activeName" type="border-card">
            <el-tab-pane label="Pending" name="pending">
                <el-table :data="items" style="width: 100%">
                    <!--      <el-table-column prop="id" label="ID" width="130"></el-table-column>-->

                    <el-table-column prop="email" label="Email"></el-table-column>
                  <el-table-column prop="name" label="Name"></el-table-column>
                    <el-table-column prop="custom:company" label="Company"></el-table-column>
<!--                    <el-table-column prop="phone" label="Phone"></el-table-column>-->
<!--                    <el-table-column prop="createdAt" label="Created" sortable></el-table-column>-->
                    <el-table-column fixed="right" label="Action" width="180">
                        <template slot-scope="scope">
                            <el-checkbox :value="checked.includes(scope.row.sub)"
                                         @change="approveAcct(scope.row.sub, scope.row.company, scope.row.email)"></el-checkbox>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>

    </div>
</template>
<script>
  import * as SLS from '../../../APIs/sls';
  export default {
    data() {
      return {
        activeName: 'pending',
        items: [],
        checked: []
      };
    },
    methods: {
      async fetch() {
        const res = await SLS.getPendingUsers();
        this.items = res.data;
      },

      approveAcct(id, company, email) {
        this.checked.push(id);
        this.$confirm(`This action would approve Agent ${email}, continue?`, 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(async () => {
          await SLS.approvePendingUser(id);
          this.fetch();
        }).catch(() => {
          this.checked = [];
        });

      },

    },
    created() {
      this.fetch();
    }
  };
</script>

