<template>
    <div class="panel" style="padding-left:50px;display: flex;">
        <div>
            <el-form
                    :model="preferenceForm"
                    ref="preferenceForm"
                    label-position="top"
                    label-width="120px"
                    style="width:100%;"
            >
                <el-form-item style="font-weight:bold" prop="category" label="Category">
                    <el-tag
                            :key="tag"
                            v-for="tag in preferenceForm.category"
                            size="large"
                            effect="dark"
                            type="success"
                            closable
                            :disable-transitions="false"
                            @close="handleCategoryClose(tag)"
                    >{{tag}}
                    </el-tag>
                    <el-button
                            class="button-new-tag"
                            size="small"
                            @click="categoryInputVisible = true"
                            plain
                            type="primary"
                    >+ New Category
                    </el-button>

                    <el-dialog title="Add New Category" :visible.sync="categoryInputVisible" :modalAppendToBody="false">
                        <el-form-item label="English Name" :label-width="formLabelWidth">
                            <el-input v-model="categoryENInput"></el-input>
                        </el-form-item>
                        <el-form-item label="Chinese Name" :label-width="formLabelWidth">
                            <el-input v-model="categoryCNInput"></el-input>
                        </el-form-item>

                        <div slot="footer" class="dialog-footer">
                            <el-button @click="categoryInputVisible = false">Cancel</el-button>
                            <el-button type="primary" @click="handleCategoryInputConfirm">Confirm</el-button>
                        </div>
                    </el-dialog>
                </el-form-item>

                <el-form-item style="font-weight:bold" prop="location" label="Location">
                    <el-tag
                            :key="tag"
                            v-for="tag in preferenceForm.location"
                            size="large"
                            effect="dark"
                            type="success"
                            closable
                            :disable-transitions="false"
                            @close="handleLocationClose(tag)"
                    >{{tag}}
                    </el-tag>
                    <el-input
                            class="input-new-tag"
                            v-if="locationInputVisible"
                            v-model="locationInputValue"
                            ref="saveTagInput"
                            size="small"
                            @keyup.enter.native="handleLocationInputConfirm"
                            @blur="handleLocationInputConfirm"
                    ></el-input>
                    <el-button
                            v-else
                            class="button-new-tag"
                            size="small"
                            @click="showLocationInput"
                            plain
                            type="primary"
                    >+ New Location
                    </el-button>
                </el-form-item>

<!--                <el-form-item style="margin-top:60px;float:right">-->
<!--                    <el-button type="primary" @click="submitForm('preferenceForm')">Save</el-button>-->
<!--                    &lt;!&ndash;                    <el-button @click="resetForm">Cancel</el-button>&ndash;&gt;-->
<!--                </el-form-item>-->
            </el-form>
        </div>
    </div>
</template>

<script>
  import router from "../../router";
  import * as HTTP from '../../APIs/http';

  export default {
    data() {
      return {
        preferenceForm: {
          id: sessionStorage.companyId,
          category: [
            "Townhouse|联排别墅",
            "Apartment|公寓",
            "Commercial|商业地产"
          ],
          location: ["North"]
        },
        companyId: sessionStorage.companyId,
        categoryInputVisible: false,
        locationInputVisible: false,
        categoryInputValue: "",
        locationInputValue: "",
        categoryENInput: "",
        categoryCNInput: "",
        formLabelWidth: "60px"
      };
    },
    methods: {
      handleCategoryClose(tag) {
        this.preferenceForm.category.splice(
          this.preferenceForm.category.indexOf(tag),
          1
        );
        this.save();
      },
      handleLocationClose(tag) {
        this.preferenceForm.location.splice(
          this.preferenceForm.location.indexOf(tag),
          1
        );
        this.save();
      },

      showLocationInput() {
        this.locationInputVisible = true;
        this.$nextTick(() => {
          this.$refs.location.$refs.input.focus();
        });
      },

      handleCategoryInputConfirm() {
        if (this.categoryENInput) {
          if (this.categoryCNInput) {
            this.preferenceForm.category.push(`${this.categoryENInput}|${this.categoryCNInput}`);
            this.save();
          } else {
            this.preferenceForm.category.push(this.categoryENInput);
            this.save();
          }
          this.categoryInputVisible = false;
          this.categoryENInput = "";
          this.categoryCNInput = "";
        }

      },

      handleLocationInputConfirm() {
        let locationInputValue = this.locationInputValue;
        if (locationInputValue) {
          this.preferenceForm.location.push(locationInputValue);
          this.save();
        }

        this.locationInputVisible = false;
        this.locationInputValue = "";
      },

      resetForm() {
        router.go(-1);
      },

      async save() {
        await HTTP.putPreference(this.preferenceForm);
        this.$message({
          message: "Update Successfully.",
          type: "success"
        });
      },

      async fetch() {
        const res = await HTTP.getPreferenceByCompanyId(sessionStorage.companyId);
        this.preferenceForm = Object.assign({}, this.preferenceForm, res.data);
      }
    },
    created() {
      sessionStorage.companyId != "undefined" && this.fetch();
    }
  };
</script>

<style>

    .panel {
        border: 1px solid white;
        background-color: #fff;
        border-radius: 4px;
        padding: 30px 50px;
        display: inline-block;
    }

    .el-tag + .el-tag {
        margin-left: 10px;
    }

    .button-new-tag {
        margin-left: 10px !important;
        height: 32px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .input-new-tag {
        width: 200px;
        margin-left: 0px;
        vertical-align: bottom;
    }
</style>
