<template>
    <div style="display:flex;padding: 5px;">

        <div class="left-panel">
            <!--            <h1>Edit Company Profile</h1>-->
            <el-form
                    :model="generalForm"
                    ref="generalForm"
                    :rules="rules"
                    label-position="top"
                    label-width="120px">

                <div style="display: inline-flex;width:100%;">
                    <el-form-item prop="logo" style="cursor: pointer;">
                        <my-upload
                                field="file"
                                @crop-success="cropSuccess"
                                v-model="uploadShow"
                                :width="100"
                                :height="100"
                                lang-type="en"
                                img-format="jpg"></my-upload>
                        <el-tooltip class="item" effect="dark" content="Maximum file size is 1MB." placement="right">
                            <div v-if="generalForm.logo" class="block">
                                <img
                                        style="height:160px;width:160px;border-radius:5%;"
                                        :src="generalForm.logo"
                                        @click="toggleShow"
                                />
                            </div>
                            <i v-else class="el-icon-plus avatar-uploader-icon" @click="toggleShow"></i>
                        </el-tooltip>
                    </el-form-item>
                    <div class="name-block" style="width:100%;">
                        <el-form-item prop="name" label="NAME">
                            <el-input v-model="generalForm.name"></el-input>
                        </el-form-item>
                        <div style="display: inline-flex;width:100%;">
                            <el-form-item prop="phone" label="PHONE" style="flex:1;margin-right:20px;">
                                <el-input prefix-icon="el-icon-phone" v-model="generalForm.phone"></el-input>
                            </el-form-item>
                            <el-form-item prop="email" label="EMAIL" style="flex:1">
                                <el-input prefix-icon="el-icon-message" v-model="generalForm.email"></el-input>
                            </el-form-item>
                        </div>
                    </div>

                </div>


                <el-form-item prop="address" label="ADDRESS">
                    <el-autocomplete
                            prefix-icon="el-icon-map-location"
                            style="width:100%"
                            v-model="generalForm.address"
                            value-key="name"
                            :fetch-suggestions="querySearchAsync"
                            @select="handleSelect"
                    >
                        <!-- <el-button slot="append" icon="el-icon-map-location" @click="toggleMap"></el-button> -->
                    </el-autocomplete>
                </el-form-item>
                <el-form-item prop="website" label="WEBSITE">
                    <el-input v-model="generalForm.website">
                        <template slot="prepend">http://</template>
                    </el-input>
                </el-form-item>
                <el-form-item label="ABOUT US">
                    <el-input type="textarea" :rows="4" v-model="generalForm.desc"></el-input>
                </el-form-item>

                <el-form-item style="float:right">
                    <el-button type="primary" @click="submitForm('generalForm')">Save</el-button>
                    <!--                    <el-button @click="resetForm">Cancel</el-button>-->
                </el-form-item>
            </el-form>
        </div>
        <div style="border:1px solid white;background-color:#fff;height:400px;margin-left:15px;flex:1">
            <div class="card-image">
                <img src="img/profile-background.jpeg"
                     style="width:100%;">
            </div>
            <div class="card-body">
                <div style="border:0px solid black;">
                    <img :src="generalForm.logo" class="avatar">
                    <h4 class="title">{{generalForm.name}}</h4>
                    <div class="desc">
                        <div v-show="generalForm.phone"><i class="el-icon-phone"/>{{generalForm.phone}}</div>
                        <div v-show="generalForm.email"><i class="el-icon-message"/>{{generalForm.email}}</div>
                        <div v-show="generalForm.website"><i class="el-icon-thumb"/>{{generalForm.website}}</div>
                        <div v-show="generalForm.address"><i class="el-icon-map-location"/>{{generalForm.address}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import router from "../../router";
  import myUpload from "vue-image-crop-upload";
  import * as HTTP from '../../APIs/http';
  import * as Permission from "../../utils/permission";

  const axios = require("axios");
  export default {
    components: {
      "my-upload": myUpload
    },
    data() {
      return {
        uploadShow: false,
        isPendingAcct: true,
        companyId: sessionStorage.companyId,
        token: "Bearer " + sessionStorage.token,
        markers: [],
        mapVisible: false,
        generalForm: {
          id: sessionStorage.companyId,
          logo: "",
          name: "",
          address: "",
          lat: -37.8136276,
          lng: 144.9630576,
          phone: "",
          email: "",
          website: "",
          desc: "",
        },
        rules: {
          name: [
            {required: true, message: "Company name is required", trigger: "blur"},
            {min: 2, max: 20, message: "Name length should be between 2 and 20", trigger: "blur"}
          ],
          phone: [
            {required: true, message: "Phone is required", trigger: "blur"},
            {
              min: 10,
              max: 15,
              message: "The length should be between 10 and 13",
              trigger: "blur"
            }
          ]
        }

      };
    },
    methods: {
      toggleShow() {
        this.uploadShow = !this.uploadShow;
      },
      cropSuccess(imgDataUrl) {
        this.generalForm.logo = imgDataUrl;
      },

      submitForm(formName) {
        this.$refs[formName].validate(valid => {
          if (valid) {
            if(!this.isPendingAcct) {
              this.save();
            } else {
              this.$message.error('System Admin will approve your account soon.');
            }
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      },

      resetForm() {
        router.go(-1);
      },

      async querySearchAsync(queryString, cb) {
        var url = this.$http.UTIL_URL + "address?q=";
        var results = await axios.get(url + queryString);
        var tips = results.data;
        cb(tips);
      },

      toggleMap() {
        this.mapVisible = !this.mapVisible;
      },

      async handleSelect(item) {
        var url = this.$http.UTIL_URL + "geometry?q=";
        var ret = await axios.get(url + item.name);
        var result = ret.data;
        if (result) {
          this.generalForm.lat = Number(result.lat);
          this.generalForm.lng = Number(result.lng);
          this.markers = [];
          this.markers.push({
            position: {
              lat: this.generalForm.lat,
              lng: this.generalForm.lng
            }
          });
        }
      },

      async save() {
        if (this.generalForm.flag) {
          await HTTP.updateCompany(sessionStorage.companyId, this.generalForm);
        } else {
          await HTTP.postCompany(this.generalForm);
        }
        this.$message({
          message: "Refresh page to see the result.",
          type: "success"
        });
      },

      async fetch() {
        const res = await HTTP.getCompanyById(sessionStorage.companyId);
        this.generalForm = Object.assign({}, this.generalForm, res.data);
      }
    },
    async created() {
      this.isPendingAcct = await Permission.isPendingAcct();
      !this.isPendingAcct && sessionStorage.companyId != "undefined" && this.fetch();
    }
  };
</script>

<style scoped>

    .left-panel {
        border: 1px solid white;
        background-color: #fff;
        border-radius: 4px;
        padding: 0 15px;
        margin-right: 10px;
        flex: 2.2;
    }

    .left-panel .el-form-item__label {
        padding: 0px !important;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409eff;
    }

    .avatar-uploader-icon {
        display: flex !important;
        font-size: 18px;
        color: #8c939d;
        width: 55px;
        height: 55px;
        text-align: center;
        border: 1px dotted grey;
        justify-content: center;
        align-items: center;
    }

    .avatar {
        width: 125px;
        height: 125px;
        display: block;
        border-radius: 50%;

        border: 5px solid #fff;
        position: relative;
        margin: 0 auto;
    }

    .name-block .el-form-item {
        margin-bottom: 0px;
    }

    .card-image {
        overflow: hidden;
        height: 110px;
        width: 100%;
        border-radius: 4px;
    }

    .card-body {
        margin-top: -70px;
        text-align: center;
        height: 100%;
        padding: 0 10px;
    }


    .title {
        font-weight: 300;
        margin: 30px 0 15px;
        line-height: 24px;
        font-size: 22px;
        text-transform: uppercase;
        color: #1dc7ea;
    }

    .desc {
        line-height: 1.8;
        color: #66615B;
    }

    .desc i {
        padding-right: 5px;
    }

</style>
