<template>
    <div class="about">
        <h1>Update Password</h1>
        <el-form
                :model="agentForm"
                ref="agentForm"
                :rules="rules"
                label-width="120px"
                style="width:100%;"
        >

            <el-form-item prop="oldPassword" label="Old Password" :error="errorMsg">
                <el-input type="password" v-model="agentForm.oldPassword" autocomplete="off" show-password></el-input>
            </el-form-item>
            <el-form-item prop="password" label="Password">
                <el-input type="password" v-model="agentForm.password" autocomplete="off" show-password></el-input>
            </el-form-item>
            <el-form-item prop="checkPass" label="Confirm">
                <el-input type="password" v-model="agentForm.checkPass" autocomplete="off" show-password></el-input>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="submitForm('agentForm')">Save</el-button>
                <el-button @click="cancel">Cancel</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
  import * as SLS from '../../../APIs/sls';
  export default {
    props: {
      id: {}
    },
    data() {
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please enter a valid password that is at least 8 characters'));
        } else if (value !== this.agentForm.password) {
          callback(new Error('Password and conform password should be the same'));
        } else {
          callback();
        }
      };
      return {
        uploadShow: false,
        agentForm: {
          email: sessionStorage.email,
          oldPassword: "",
          password: "",
          checkPass: "",
        },
        errorMsg:"",
        rules: {
          oldPassword: [
            {required: true, message: "Please enter a valid password that is at least 8 characters", trigger: "blur"},
            {min: 8, max: 16, message: "The password length should be between 8-16", trigger: "blur"}
          ],
          password: [
            {required: true, message: "Please enter a valid password that is at least 8 characters", trigger: "blur"},
            {min: 8, max: 16, message: "The password length should be between 8-16", trigger: "blur"}
          ],
          checkPass: [
            {required: true, message: "Please enter a valid password that is at least 8 characters", trigger: "blur"},
            {validator: validatePass2, trigger: 'blur'}
          ],
        }
      };
    },

    methods: {
      submitForm(formName) {
        this.$refs[formName].validate(valid => {
          if (valid) {
            this.save();
          } else {
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

      async save() {
        this.errorMsg="";
        try {
          await SLS.changePassword(this.agentForm);
          this.$refs["agentForm"].resetFields();
          this.$message({
            message: "Password Update Successful",
            type: "success"
          });
        } catch (e) {
          this.errorMsg = e.response.data;
        }
      },

      cancel() {
        this.$router.go(-1);
      },

    },
  };
</script>

<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409eff;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
</style>

