<template>
    <div class="about">
        <h1>Edit Profile</h1>
        <el-tabs type="border-card" @tab-click="handleClick">
          <el-tab-pane label="Profile">
            <el-form
                :model="agentForm"
                ref="agentForm"
                :rules="rules"
                label-width="120px"
                style="width:100%;"
            >
                <el-form-item prop="email" label="Email">
                    <el-input v-model="agentForm.email" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item prop="name" label="Name">
                    <el-input v-model="agentForm.name"></el-input>
                </el-form-item>
                <el-form-item prop="custom:title" label="Title">
                    <el-input v-model="agentForm['custom:title']"></el-input>
                </el-form-item>
                <el-form-item prop="custom:phone" label="Phone">
                    <el-input v-model="agentForm['custom:phone']"></el-input>
                </el-form-item>
                <el-form-item prop="picture" label="Photo">
                    <my-upload
                            field="file"
                            method="POST"
                            @crop-success="cropSuccess"
                            v-model="uploadShow"
                            :width="150"
                            :height="150"
                            lang-type="en"
                    ></my-upload>
                    <div class="block">
                        <img style="height:100px;width:100px;border-radius:50%" :src="agentForm.picture" @click="toggleShow" onerror="this.src='/img/anonymous.png'"/>
                    </div>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submitForm('agentForm')">Save</el-button>
                    <el-button @click="cancel">Cancel</el-button>
                </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="Password">
            <el-form
              ref="updatePasswordForm"
              :model="updatePasswordForm"
              :rules="updatePasswordRules"
              label-width="120px"
              style="width:100%;">
              <el-form-item prop="email" label="Email">
                    <el-input v-model="updatePasswordForm.email"  :disabled="true"></el-input>
              </el-form-item>
              <el-form-item prop="oldPassword" label="Old Password">
                    <el-input type="password" v-model="updatePasswordForm.oldPassword" show-password></el-input>
              </el-form-item>
              <el-form-item prop="newPassword" label="New Password">
                    <el-input type="password" v-model="updatePasswordForm.newPassword" show-password></el-input>
              </el-form-item>
              <el-form-item>
                  <el-button type="primary" @click="submitForm('updatePasswordForm')">Save</el-button>
                  <el-button @click="cancel">Cancel</el-button>
              </el-form-item>
            </el-form>
          </el-tab-pane>
        </el-tabs>
        
    </div>
</template>

<script>
  import myUpload from "vue-image-crop-upload";
  import {Auth} from "aws-amplify";
  import * as SLS from "../../../APIs/sls";
  import {http} from "../../../utils/http";
  import axios from 'axios'

  export default {
    data() {
      return {
        user:"",
        uploadShow: false,
        agentForm: {
          email: "",
          name: "",
          picture: sessionStorage.picture,
          "custom:phone": "",
          "custom:title": ""
        },
        updatePasswordForm: {
          email: "",
          oldPassword: "",
          newPassword: ""
        },
        signedUrlObject:"",
        rules: {
          "name": [
            {required: true, message: 'Please enter a name', trigger: 'blur'},
            {
              max: 30,
              message: "Please enter a valid name",
              trigger: "blur"
            }
          ],
          "custom:title": [
            {required: true, message: 'Please enter a title', trigger: 'blur'},
            {
              max: 30,
              message: "Please enter a valid title",
              trigger: "blur"
            }
          ],
          "custom:phone": [
            {required: true, message: 'Please enter a valid phone number', trigger: 'blur'},
            {
              min: 10,
              max: 12,
              message: "Please enter a valid phone number",
              trigger: "blur"
            }
          ]
        },
        updatePasswordRules: {
          oldPassword: [
            {required: true, message: 'Please enter a valid password', trigger: 'blur'},
            {
              min: 8,
              max: 32,
              message: "Password length should be between 8-32",
              trigger: "blur"
            },
            {
              pattern: /(^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!,;><_@#$%^&*]).{8,32}$)/,
              message: "Password must be a combination of numbers, letters, and special characters",
              trigger: "blur"
            }
          ],
          newPassword: [
            {required: true, message: 'Please enter a valid password', trigger: 'blur'},
            {
              min: 8,
              max: 32,
              message: "Password length should be between 8-32",
              trigger: "blur"
            },
            {
              pattern: /(^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!,;><_@#$%^&*]).{8,32}$)/,
              message: "Password must be a combination of numbers, letters, and special characters",
              trigger: "blur"
            }
          ]
        }
      };
    },
    components: {
      "my-upload": myUpload
    },
    methods: {
      toggleShow() {
        this.uploadShow = !this.uploadShow;
        if(this.uploadShow) {
          this.generateUploadURL();
        }
      },
      submitForm(formName) {
        this.$refs[formName].validate(valid => {
          if (valid) {
            this.save(formName);
          } else {
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

      async save(formName) {
        if (formName === 'agentForm') {
          let updatedUser = {
            'name':this.agentForm.name,
            'custom:phone':this.agentForm["custom:phone"],
            'custom:title':this.agentForm["custom:title"]
          };
          if(this.user.attributes.picture != this.agentForm.picture) {
            updatedUser.picture = http.STORAGE_URL + this.signedUrlObject.key;
            sessionStorage.picture = updatedUser.picture;
          }
          await Auth.updateUserAttributes(this.user, updatedUser);
          this.$message({message: "Successful", type: "success"});
        }
        else if (formName === 'updatePasswordForm') {
          Auth.changePassword(this.user, this.updatePasswordForm.oldPassword, this.updatePasswordForm.newPassword)
          .then( () => {
            this.$message({message: "Successful", type: "success"});
            this.updatePasswordForm.oldPassword = "";
            this.updatePasswordForm.newPassword = "";
          })
          .catch( (err) => {
            this.$message({message: err.message, type: "error"});
          })
        }
      },

      cancel() {
        this.$router.push("/settings/users");
      },

      async fetch() {
        this.user = await Auth.currentAuthenticatedUser();
        this.agentForm = Object.assign({}, this.agentForm, this.user.attributes);
        this.updatePasswordForm.email = this.user.attributes.email;
      },

      cropSuccess(imgDataUrl){
        this.agentForm.picture = imgDataUrl;
        let blob = this.blobToData(imgDataUrl, 'image/png');
        axios.put(this.signedUrlObject.signedUrl, blob, {
          headers: {
            'Content-Type': 'image/png'
          }
        });
      },

      blobToData(data, mime) {
        data = data.split(',')[1];
        data = window.atob(data);
        var ia = new Uint8Array(data.length);
        for (var i = 0; i < data.length; i++) {
          ia[i] = data.charCodeAt(i);
        }
        // canvas.toDataURL 返回的默认格式就是 image/png
        return new Blob([ia], {
          type: mime
        });
      },

      beforeAvatarUpload(file) {
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error("The Image size should be less than 2MB!");
        }
        return isLt2M;
      },

      async generateUploadURL() {
        const res = await SLS.presignedURL({}, 'staff');
        this.signedUrlObject = res.data;
      }
    },

    created() {
      this.fetch();
    }
  };
</script>

<style>
</style>

