<template>
    <div>
        <div style="display:flex;justify-content:space-between;padding:0 10px;">
            <h1>User List</h1>
          <el-link v-if="!this.isPendingAcct" style="display:flex" icon="el-icon-s-custom" @click="invitationDialog" type="primary">Invite User</el-link>
        </div>
        <el-table :data="items" style="width: 100%">
            <el-table-column prop="picture" label="Photo" width="130">
                <template slot-scope="scope">
                    <img v-if="scope.row.picture" :src="scope.row.picture" style="height:50px;width:50px;border-radius:50%" onerror="this.src='/img/anonymous.png'"/>
                    <img v-else src="/img/anonymous.png" style="height:50px;width:50px;border-radius:50%"/>
                </template>
            </el-table-column>
            <el-table-column prop="email" label="Email" sortable>
              <template slot-scope="scope">
                <div style="display: flex; align-items: center;">
                  <el-tooltip v-if="scope.row['custom:master']==='true'" effect="dark" content="Master Account" placement="right-start">
                    <i class="el-icon-star-on" style="color:#ff9900;font-size:18px;"></i>
                  </el-tooltip>
                  {{scope.row.email}}
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="Name" sortable></el-table-column>
            <el-table-column prop="custom:title" label="Title"></el-table-column>
            <el-table-column prop="custom:phone" label="Phone"></el-table-column>
            <el-table-column prop="custom:role" label="Admin" width="120">
              <template slot-scope="scope">
                <el-switch :disabled="scope.row['custom:master']==='true'" :value="scope.row['custom:role']" active-value="Admin" inactive-value="Staff" @change="editRole(`${scope.row.email}`, `${scope.row.sub}`, $event)"></el-switch>
              </template>
            </el-table-column>
            <el-table-column fixed="right" label="Action" width="120">
                <template slot-scope="scope">
                  <el-button v-if="scope.row.status!=='CONFIRMED'" type="text" size="small" @click="inviteUser(`${scope.row.email}`,'resend')">Resend</el-button>
                    <el-button @click="remove(scope.row)" type="text" size="small">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
  import * as SLS from '../../../APIs/sls';
  import * as Permission from "../../../utils/permission";
  export default {
    data() {
      return {
        items: [],
        loading: true,
        currentUser: sessionStorage.email,
        roleDialogVisible: false,
        isPendingAcct: true
      };
    },
    methods: {
      async fetch() {
        const res = await SLS.getUsers();
        this.items = res.data;
        this.loading = false;
      },

      async inviteUser(email, action) {
        SLS.inviteUser(email, action)
            .then(()=>{
              this.$message({type: "success", message: 'Sent the Invitation Email'});
              this.fetch();
            }).catch(error=>{
          this.$message({type: "error", message: error.response.data});
        })
      },

      invitationDialog() {
        this.$prompt('Email Address', 'Invite user to your account', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
          inputErrorMessage: 'wrong email address'
        }).then(({ value }) => {
          this.inviteUser(value, "invite");
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Cancel Operation'
          });
        });
      },

       async editRole(name, sub, role) {
         this.$confirm(`Are you sure to change ${name} role?`, 'Warning', {
           confirmButtonText: 'OK',
           cancelButtonText: 'Cancel',
           type: "warning"
         }).then(async () => {
           let attrs = [{Name: 'custom:role', Value: role}];
           let obj = {"username": sub, "attributes": attrs };
           await SLS.updateUserAttributes(obj);
           this.items.find(user => user.sub === sub)["custom:role"] = role;
           this.$message({type: "success", message: 'Successful!'});
         });

      },

      async remove(row) {
        if (row.email == this.currentUser) {
          this.$message({
            showClose: true,
            message: 'You cannot delete yourself',
            type: 'error'
          });
        } else {
          this.$confirm(`Are you sure to delete ${row.email}`, 'Warning', {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: "warning"
          }).then(async () => {
              SLS.deleteUser(row.sub)
              .then(()=>{
                this.$message({type: "success", message: 'Successful'});
                this.fetch();
              }).catch(error=>{
                this.$message({type: "error", message: error.response.data});
              })
          });
        }
      }
    },
    async created() {
      this.isPendingAcct = await Permission.isPendingAcct();
      this.fetch();
    }
  };
</script>

