<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="$$org_title$$">
    <meta property="og:image" content="$$org_image$$">
    <meta property="og:url" content="$$org_url$$">
    <meta property="og:type" content="article">
    <meta property="og:description" content="$$org_description$$">
    <link rel="icon" href="https://weproperty.com.au/favicon.ico">
  <link rel="stylesheet" href="assets/css/styles.css"/>
  <script src="assets/js/jquery-3.5.1.min.js"></script>
  <script src="assets/js/uikit.min.js"></script>
  <script src="assets/js/uikit-icons.min.js"></script>
  <style>
      #map {
          height: 400px;
          width: 100%;
      }
  </style>
</head>
<body>
<div id="app">
  <div id="preloader">
    <div class="spinner">
      <div class="uil-ripple-css" style="transform:scale(0.29);">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- HEADER 1 -->
  <div class="ev-header-1 uk-visible@m">

    <!-- TOP NAVBAR -->
    <div class="ev-topnav uk-section-primary uk-padding-small">
      <div class="ev-container">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-iconnav">
              <li>
                <a href="" uk-icon="icon: facebook"></a>
              </li>
              <li>
                <a href="" uk-icon="icon: twitter"></a>
              </li>
              <li>
                <a href="" uk-icon="icon: youtube"></a>
              </li>
              <li>
                <a href="" uk-icon="icon: linkedin"></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- END TOP NAVBAR -->

    <nav class="ev-nav uk-navbar-container uk-padding-small">
      <div class="ev-container" uk-navbar>
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo uk-margin-medium-right" href="#">
            <img :alt="company.name" :src="company.logo">
          </a>

          <!--          <ul class="uk-navbar-nav">-->
          <!--            <li>-->
          <!--              <a href="#">Home </a>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <a href="#">Home </a>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <a href="#">Home </a>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <a href="#">Home </a>-->
          <!--            </li>-->
          <!--          </ul>-->

        </div>

        <div class="uk-navbar-right">
          <div class="uk-navbar-item">
              <a :href=`tel:${company.phone}` class="uk-button uk-button-primary uk-button-large uk-text-truncate uk-border-pill"><i class="fas fa-phone-alt uk-margin-small-right"></i>Make a Call
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- END HEADER 1 -->

  <!-- MOBILE HEADER -->
  <nav class="ev-mobile-nav uk-navbar-container uk-padding uk-hidden@m" uk-navbar>
    <div class="uk-navbar-center">
      <a class="uk-navbar-item uk-logo" href="#">
        <img :alt="company.name" :src="company.logo">
      </a>
    </div>
  </nav>
  <!-- END MOBILE HEADER -->

  <!-- PAGE TITLE -->
  <div class="ev-page-title-2">
    <div class="ev-container">
      <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-flex uk-flex-middle uk-flex-center uk-grid-small" uk-grid>
        <div class="uk-flex uk-flex-center uk-flex-left@s"><h5 class="title">{{project.projectName}}</h5></div>
        <div>
          <ul class="uk-breadcrumb uk-flex-center uk-flex-right@s">
              <li><h5 class="title">{{project.category}}</h5></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE TITLE -->

  <!-- PAGE CONTENT -->
  <div class="ev-page-container">
    <div class="ev-single-property uk-grid-large" uk-grid>
      <div class="uk-width-expand@m">
        <div uk-slideshow="animation: slide">
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
            <div uk-lightbox>
              <ul class="uk-slideshow-items">
                <li v-for="housePicture in housePictures">
                  <a :href="housePicture"><img :src="housePicture" uk-cover></a>
                </li>
              </ul>
            </div>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
          </div>
          <div class="uk-margin-small uk-visible@m">
            <ul class="ev-thumbnav-1 uk-thumbnav">
              <li v-for="(housePicture,index) in housePictures" :uk-slideshow-item="index">
                <a href="#"><img :src="housePicture" width="100" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- PROPERTY DETAILS -->
        <div class="ev-details">
          <hr>
          <h3 class="ev-price">${{singlePrice.price}} </h3>
          <h3 class="ev-title">{{project.projectName}}</h3>
          <p class="ev-location"><i class="fas fa-map-marker-alt uk-margin-small-right"></i> {{project.address}}</p>
          <hr>
          <ul class="ev-meta">
            <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-5@m uk-grid-small" uk-grid>
              <div v-if="singlePrice.internalArea">
                <li>
                  <i class="iconfont">&#xe8ed;</i>
                  {{singlePrice.internalArea}} M<sup>2</sup>
                </li>
              </div>
              <div v-if="singlePrice.room">
                <li>
                  <i class="iconfont">&#xe6a6;</i>
                  {{singlePrice.room}} Bedrooms
                </li>
              </div>
              <div v-if="singlePrice.bathRoom">
                <li>
                  <i class="iconfont">&#xe6a6;</i>
                  {{singlePrice.bathRoom}} Bathrooms
                </li>
              </div>
              <div v-if="singlePrice.garage">
                <li>
                  <i class="iconfont">&#xe6fb;</i>
                  {{singlePrice.garage}} Garages
                </li>
              </div>
              <div v-if="singlePrice.storey">
                <li>
                  <i class="iconfont">&#xe68b;</i>
                  Floor {{singlePrice.storey}}
                </li>
              </div>
              <div v-if="singlePrice.toilet">
                <li>
                  <i class="iconfont">&#xe724;</i>
                  Toilet {{singlePrice.toilet}}
                </li>
              </div>
            </div>
          </ul>
          <div v-if="project.desc">
            <h5 class="uk-heading-line uk-text-bold"><span>Description</span></h5>
            <p v-html="project.desc"></p>
          </div>
          <div v-if="singlePrice.floorPlan.url" uk-lightbox>
            <h5 class="uk-heading-line uk-text-bold"><span>Floorplans</span></h5>
            <a :href="singlePrice.floorPlan.url"><img :src="singlePrice.floorPlan.url"></a>
          </div>
          <div v-if="video">
            <h5 class="uk-heading-line uk-text-bold"><span>Property Video</span></h5>
            <button class="uk-button uk-button-default uk-width-1-1 uk-border-rounded uk-margin" type="button" uk-toggle="target: +"><i class="fas fa-play uk-margin-small-right"></i> Play Video
            </button>
            <video :src="video" controls playsinline hidden uk-video="autoplay: false"></video>
            <br><br>
          </div>
          <div v-if="schools > 0">
            <h5 class="uk-heading-line uk-text-bold"><span>NearBy Schools</span></h5>
            <ul uk-tab data-uk-tab="{connect:'#schools'}">
              <li class="uk-active"><a>Primary</a></li>
              <li><a>Secondary</a></li>
            </ul>
            <ul id="schools" class="uk-switcher uk-margin">
              <li>
                <el-table
                        :data="primarySchools"
                        style="width: 100%;">
                  <el-table-column
                          label="Name">
                    <template slot-scope="scope"><a target="_blank" :href="scope.row.websiteUrl">{{ scope.row.name }}</a></template>
                  </el-table-column>
                  <el-table-column
                          prop="educationLevel"
                          label="Level">
                  </el-table-column>
                  <el-table-column
                          label="Distance">
                    <template slot-scope="scope">{{ scope.row.distanceFromLocation }} km</template>
                  </el-table-column>
                </el-table>
              </li>
              <li>
                <el-table
                        :data="secondarySchools"
                        style="width: 100%">
                  <el-table-column
                          label="Name">
                    <template slot-scope="scope"><a target="_blank" :href="scope.row.websiteUrl">{{ scope.row.name }}</a></template>
                  </el-table-column>
                  <el-table-column
                          prop="educationLevel"
                          label="Level">
                  </el-table-column>
                  <el-table-column
                          prop="distanceFromLocation"
                          label="Distance">
                    <template slot-scope="scope">{{ scope.row.distanceFromLocation }} km</template>
                  </el-table-column>
                </el-table>
              </li>
            </ul>
          </div>
          <div v-if="showMap">
            <h5 class="uk-heading-line uk-text-bold"><span>Property Location</span></h5>
            <div id="map">
            </div>
          </div>
        </div> <!-- END PROPERTY DETAILS -->
        <hr class="uk-margin-large-top">
        <div class="uk-child-width-1-2 uk-flex uk-flex-middle" uk-grid>
          <div class="uk-text-left uk-text-small"><p class="uk-margin-remove">Reference: 1006</p></div>
          <div class="uk-text-right">
            <div class="ev-actions">
              <a href="#" uk-tooltip="title: Email; pos: top"><i class="fas fa-envelope"></i></a>
              <a href="#" uk-tooltip="title: Print; pos: top"><i class="fas fa-print"></i></a>
              <a href="#" uk-tooltip="title: Favorite; pos: top"><i class="fas fa-star"></i></a>
              <a href="#" uk-tooltip="title: Share; pos: top"><i class="fas fa-share-alt"></i></a>
            </div>
          </div>
        </div>

      </div> <!-- END EXPAND SECTION -->

      <div class="uk-width-1-3@m">
        <div class="ev-blog-widget">
          <h5 class="ev-title uk-heading-line"><span> {{company.name}}</span></h5>
          <div class="ev-featured-posts">
            <div class="uk-grid-small" uk-grid v-for="agent in agents">
              <div class="uk-width-1-3">
                <div class="uk-background-cover" :data-src="agent.picture" uk-img></div>
              </div>
              <div class="uk-width-expand"><p class="ev-category">{{agent.title}}</p><a class="ev-title">{{agent.name}}[{{agent['custom:phone']}}]</a><a class="ev-title">{{agent.email}}</a></div>
            </div>
          </div>
        </div>

        <div class="ev-blog-widget" v-if="project.attachments.length > 0">
          <h5 class="ev-title uk-heading-line"><span>Documents</span></h5>
          <div class="ev-featured-posts">
            <div class="uk-grid-small" uk-grid v-for="attachment in project.attachments">
              <a target="_blank" :href="attachment.url">
                <div class="uk-width-1-3">
                  <i class="fa fa-file-pdf fa-4x"></i>
                </div>
                <div class="uk-width-expand">
                  <p class="ev-title">{{attachment.name}}</p>
                  <p class="ev-category">{{attachment.size}}MB</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT -->

  <!-- FOOTER -->
  <div class="ev-footer" style="padding: 0px;">
    <div class="ev-copyright" style="margin-top:0px;">
      <div class="uk-container">
        <div uk-grid>
          <div class="uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
            © 2020 {{company.name}}.
          </div>
          <div class="uk-width-1-1 uk-width-1-2@m uk-flex-center uk-flex-right@m uk-visible@s">

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END FOOTER -->
</div>

<script src="assets/js/nice-select.min.js"></script>
<script src="assets/js/fontawesome.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<!-- import CSS -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                company: {
                    name: null,
                    logo: null
                },
                project: {
                    projectName: null,
                    category: null,
                    priceList: [],
                    videos: [],
                    attachments: [],
                    schools: []
                },
                schools: 0,
                primarySchools: [],
                secondarySchools: [],
                combinedSchools: [],
                singlePrice: {
                    price: null,
                    toilet: null,
                    floorPlan: [],
                    garage: null,
                    internalArea: null,
                    room: 0,
                    storey: 0,
                    bathRoom: 0
                },
                video: null,
                showMap: false,
                map: {
                    lat: null,
                    lng: null
                },
                mapUrl: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAmLtmAnXUomeJe8O-Po_73VXrVR_zboNg&callback=initMap',
                housePictures: [],
                agents: []
            }
        },
        methods: {
            async fetch() {
                const res = await this.$http.get("$$api_endpoint$$");
                this.project = res.data;
              let params = (new URL(document.location)).searchParams;
              let propertyId = params.get("property");
                this.project.priceList = this.project.priceList.filter(item => item.id === propertyId)
                console.log(this.project)
                if (this.project.videos.length > 0) {
                    this.video = this.project.videos[0].video
                }
                if (this.project.priceList.length === 1) {
                    this.singlePrice = this.project.priceList[0]
                }
                this.company = res.data.company
                this.housePictures = res.data.images.map(item => item.url)
                this.agents = res.data.sales
                this.map = {
                    lng: res.data.lng,
                    lat: res.data.lat
                }
                this.loadMap()
                this.schools = this.project.schools.length
                this.secondarySchools = this.project.schools.filter(item => item.educationLevel === 'Secondary' || item.educationLevel === 'Combined')
                this.primarySchools = this.project.schools.filter(item => item.educationLevel === 'Primary' || item.educationLevel === 'Combined' )
              console.log(this.primarySchools)
                document.title = this.project.projectName;
            },
            loadMap() {
                let script = document.createElement('script');
                script.src = this.mapUrl
                script.defer = true
                let latlng = {lat: this.map.lat, lng: this.map.lng}
                window.initMap = function () {
                    let map = new google.maps.Map(document.getElementById('map'), {zoom: 14, center: latlng});
                    let marker = new google.maps.Marker({position: latlng, map: map});
                }
                document.head.appendChild(script);
                this.showMap = true
            }
        },
        mounted: function () {
            this.fetch();
        }
    })
</script>
<style>
  @font-face {
    font-family: 'iconfont';  /* project id 2062652 */
    src: url('//at.alicdn.com/t/font_2062652_hulsjbszsjn.eot');
    src: url('//at.alicdn.com/t/font_2062652_hulsjbszsjn.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2062652_hulsjbszsjn.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2062652_hulsjbszsjn.woff') format('woff'),
    url('//at.alicdn.com/t/font_2062652_hulsjbszsjn.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2062652_hulsjbszsjn.svg#iconfont') format('svg');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
  .el-table .cell {
    word-break: break-word!important;
  }
</style>
</body>
</html>
