<template>
    <el-container style="height:100%;width:100%;position:fixed;border: 0px solid #eee">
        <el-aside v-if="this.adminRole" style="background-color: rgb(238, 241, 246);width:auto;">
            <el-menu
                    router
                    :default-active="$route.path"
                    background-color="rgb(48, 65, 86)"
                    text-color="rgb(191, 203, 217)"
                    active-text-color="rgb(64, 158, 255)"
                    style="height:100%;"
                    :collapse="isCollapse"
            >
                <div class="app-brand">
          <span class="app-brand-logo">
            <img v-if="this.logo" :src="this.logo" style="height:45px;width:45px;border-radius:5%;"/>
            <img v-else src="/img/weproperty.png" style="height:45px;width:45px;border-radius:5%;"/>
          </span>
                    <span class="app-brand-text">{{name}}</span>
                </div>
                <div style="border-color:#31465f!important;border-top:1px solid;"></div>
                <el-menu-item index="/home">
                    <i class="el-icon-menu"></i>
                    <span slot="title">Home</span>
                </el-menu-item>
<!--                <el-menu-item index="/dashboard">-->
<!--                    <i class="el-icon-data-analysis"></i>-->
<!--                    <span slot="title">Dashboard</span>-->
<!--                </el-menu-item>-->
                <el-submenu index="2">
                    <template slot="title">
                        <i class="el-icon-tickets"></i>
                        <span slot="title">Property Management</span>
                    </template>
                    <el-menu-item index="/properties/list">Project List</el-menu-item>
                    <el-menu-item index="/channels/list">Channel List</el-menu-item>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title">
                        <i class="el-icon-setting"></i>
                        <span slot="title">Settings</span>
                    </template>
                    <el-menu-item index="/settings/profile">Profile</el-menu-item>
                    <!--                    <el-menu-item index="/settings/preference">Preferences</el-menu-item>-->
                    <el-menu-item index="/settings/users">Users</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header>
                <div style="display: flex; align-items: center">
                  <i class="el-icon-s-fold" @click="foldSidebar"/>
                  <el-breadcrumb separator="/" style="margin-left:10px">
                    <el-breadcrumb-item v-for="(crumb,index) in this.breadcrumb" :key="index" :to="{ path: crumb.route}" >{{crumb.name}}</el-breadcrumb-item>
                  </el-breadcrumb>
                </div>
                <div style="float: left">
                  
                </div>
                <div style="display: flex;align-items: center">

<!--                    <el-dropdown trigger="hover" style="margin-right:0px;">-->

                        <el-dropdown trigger="hover" style="margin-right: 20px;" @visible-change="fetchMessage">
                            <el-button type="primary" icon="el-icon-message"  circle size="small"></el-button>
                            <el-badge is-dot style="margin-left: -5px;" ></el-badge>
                            <el-dropdown-menu slot="dropdown" style="padding: 0px;margin-top: -5px;">

                                <ul class="message">
                                    <li>{{messages.length ? messages.length: "No"}} New Messages</li>
                                    <li v-for="(item,index) in this.messages" :key="index"
                                        @click="viewMsg(`${item.id}`)">
                                        <el-button type="danger" icon="el-icon-message-solid" circle
                                                   size="small"></el-button>
                                        <div style="display: inline-flex; padding-left: 20px;text-transform: capitalize">
                                            <div>{{item.subject}}</div>
                                        </div>
                                    </li>
                                    <li @click="$router.push(`/messages/list`)">
                                        Show all messages
                                    </li>
                                </ul>
                            </el-dropdown-menu>
                        </el-dropdown>

<!--                    </el-dropdown>-->

                    <el-dropdown style="display:inline-flex">

                        <div class="profile-icon">
                            <div>
                            <img class="profile-avatar" :src=this.picture  onerror="this.src='/img/anonymous.png'"/>
                            </div>
                        </div>
                        <el-dropdown-menu slot="dropdown">
                          <el-dropdown-item icon="el-icon-user" @click.native="updateProfile">Profile
                          </el-dropdown-item>
<!--                            <el-dropdown-item icon="el-icon-user" @click.native="updatePassword">Update Password-->
<!--                            </el-dropdown-item>-->
                            <el-dropdown-item icon="el-icon-star-off" @click.native="favorites">Favorites
                            </el-dropdown-item>
                            <el-dropdown-item icon="el-icon-switch-button" @click.native="logout">Sign out
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </el-header>

            <el-main>
                <div class="content">
                    <router-view></router-view>
                </div>
            </el-main>
            <el-dialog :title="message.subject" :visible.sync="dialogVisible" :modalAppendToBody="false">
                <span>{{message.body}}</span>
                <span slot="footer" class="dialog-footer"></span>
            </el-dialog>
        </el-container>
    </el-container>
</template>

<script>
  import { Auth } from "aws-amplify";
  import * as HTTP from '../APIs/http';
  import * as SLS from '../APIs/sls';
  import * as Permission from "../utils/permission";
  export default {
    data() {
      return {
        logo: '',
        name: 'We Property',
        picture: sessionStorage.picture,
        isCollapse: false,
        username: sessionStorage.name,
        messages: [],
        dialogVisible: false,
        message: "",
        breadcrumb: [{name: 'homepage', route: ''}],
        adminRole: false
      };
    },

    methods: {
      async logout() {
        await Auth.signOut()
          .then(() => {
            sessionStorage.clear();
            this.$router.push("/");
            this.$router.go();
          })
          .catch(err => console.log(err));
      },

      foldSidebar() {
        this.isCollapse = !this.isCollapse;
      },
      async fetchCompany() {
        const res = await HTTP.getCompanyById(sessionStorage.companyId);
        if (res.data) {
          this.logo = res.data.logo;
          this.name = res.data.name;
          sessionStorage.company = this.name;
        }
      },

      updateProfile() {
        this.$router.push('/users/profile');
      },

      updatePassword() {
        this.$router.push('/password/update');
      },

      favorites() {
        this.$router.push('/favorites');
      },

      async fetchMessage() {
        // const ret = await this.$sls.get(`/messages/top3?email=${sessionStorage.email}`);
        // this.messages = ret.data;
      },

      async viewMsg(id) {
        this.message = this.messages.filter(i => i.id == id);
        if (this.message.length > 0) {
          this.message = this.message[0];
          this.dialogVisible = true;
          if (!this.message.viewed) {
            await SLS.getMessage(id);
            this.fetchMessage();
          }
        }
      },
    },

    async created() {
      document.querySelector("body").style.backgroundImage = "none";
      sessionStorage.companyId != "undefined" && this.fetchCompany();
      if(await Permission.isPendingAcct()){
        this.$message({
          showClose: true,
          message: 'This is a restricted account, WeProperty will approve your account soon.',
          type: 'error',
          duration: 0
        });
      }
      this.adminRole = await Permission.isAdmin();
    },

    beforeUpdate() {
      let update_breadStack = [{name: 'homepage', route: '/home'}];
      this.$router.history.current.path.split('/').forEach((str) => {
        if (str=='properties') {
          update_breadStack.push({name: 'properties', route: '/properties/list'});
          return;
        }
        if (str=='messages') {
          update_breadStack.push({name: 'messages', route: '/messages/list'});
          return;
        }
        if (str=='users') {
          update_breadStack.push({name: 'users', route: '/settings/users'});
          return;
        }
        if (str==''||str=='home') return;
        update_breadStack.push({name: str, route: ''});
      });
      this.breadcrumb = update_breadStack;
    }
  };
</script>
<style>
    body {
        padding: 0;
        margin: 0;
    }

    .el-main {
        background-color: #f5f5f5;
    }

    .item {

        /*margin-top: 10px;*/
        /*margin-right: 40px;*/
    }

    .el-header {
        color: #333;
        line-height: 60px;
        background-color: #fff !important;
        text-align: right;
        font-size: 20px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .el-aside {
        color: #333;
    }

    .item {
        margin-top: 10px;
        margin-right: 40px;
    }

    ul.message {
        list-style-type: none;
        padding-inline-start: 0px;
    }

    ul.message li {
        padding-left: 15px;
        width: 330px;
        height: 60px;
        line-height: 60px;
        text-align: left;
        border-bottom: 1px solid #e6e6e6;
        color: rgba(24, 28, 33, 0.9) !important;
        cursor: pointer;
    }

    ul.message li:hover {
        background-color: #f5f7fa;
    }


    ul.message li:first-child {
        text-align: center !important;
        height: 40px !important;
        line-height: 40px !important;
        background-color: #409EFF !important;
        color: white !important;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    ul.message li:last-child {
        border-bottom: none;
        color: #babbbc !important;
        font-weight: 500;
        text-align: center !important;
        font-size: 13px;
        height: 40px !important;
        line-height: 40px !important;
    }

    .popper__arrow {
        display: none !important;
    }


    .profile-icon {
        border-radius: 50%;
        display: inline-flex;
        width: 33px;
        height: 33px;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        font-size: 16px;
        color: whitesmoke;
        text-transform: uppercase;
    }

    .app-brand {
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 1rem;
    }

    .app-brand-logo {
        height: 35px;
        width: 35px;
        border-radius: 5%;
        align-items: center;
        justify-content: center;
        /* background-image:url("../assets/image/cr8.jpg"); */
        background-size: contain;
    }

    .app-brand-text {
        margin-left: .6rem !important;
        font-size: 1.2rem;
        color: #fff;
        font-weight: 500;
    }

    .el-breadcrumb__inner.is-link, .el-breadcrumb__inner a {
      font-weight: normal !important;
    }

    .profile-avatar {
      display:flex;
      border-radius:50%;
      max-width: 100%;
      max-height: 100%;
    }
</style>
