<template>
    <el-card>
        <div class="seller" style="background:white;padding:0px 16px 16px 16px">
            <div style="padding-top:20px;font-weight:700;color:#48484a;">Seller</div>
            <div class="seller-header" style="display:flex;align-items:center;padding:15px 0;">
                <div
                        class="logo-block"
                        style="border:solid 2px #EDEDED;padding:5px;padding-bottom:2px;text-align:center;background-color:#FFFFFF;"
                >
                    <img :src="seller.logo" style="max-width:80px;max-height:80px;"/>
                </div>
                <div class="seller-name" style="text-align:left;width:100%;padding-left:20px;font-size:14px;">
                    <div style="font-weight:700;color:#48484a;">{{seller.name}}</div>
                    <div>{{(seller.address || "").split(",")[1]}}</div>
                </div>
            </div>
            <div class="seller-body" :style="this.sellerDescHeight">
                <span style="word-break:break-word;white-space:pre-line;">{{seller.desc}}</span>
            </div>
            <div style="text-align:center;padding-top:10px;">
                <el-link type="info" @click="toggleSellerMore">{{showSellerMoreText}}</el-link>
            </div>
        </div>
    </el-card>
</template>

<script>
  export default {
    props: {
      seller: {
        type: Object,
        default: () => {
          return {
            logo: '',
            name: '',
            address: '',
            desc: ''
          }
        }
      }
    },
    data() {
      return {
        showSellerMore: false,
        showSellerMoreText: "Show more",
        sellerDescHeight: "height:230px",
      }
    },
    methods: {

      toggleSellerMore() {
        this.showSellerMore = !this.showSellerMore;
        this.sellerDescHeight = this.showSellerMore ? "height:auto" : "height:230px";
        this.showSellerMoreText = this.showSellerMore ? "Show less" : "Show more";
      },
    }
  }
</script>

<style lang="scss" scoped>

    .seller-body {
        line-height: 21px;
        color: #48484A;
        overflow: hidden;
    }

    .box-center {
        margin: 0 auto;
        display: table;
    }
    .text-muted {
        color: #777;
    }
    .user-profile {
        .user-name {
            font-weight: bold;
        }
        .box-center {
            padding-top: 10px;
        }
        .user-role {
            padding-top: 10px;
            font-weight: 400;
            font-size: 14px;
        }
        .box-social {
            padding-top: 30px;
            .el-table {
                border-top: 1px solid #dfe6ec;
            }
        }
        .user-follow {
            padding-top: 20px;
        }
    }
    .user-bio {
        margin-top: 20px;
        color: #606266;
        span {
            padding-left: 4px;
        }
        .user-bio-section {
            font-size: 14px;
            padding: 15px 0;
            .user-bio-section-header {
                border-bottom: 1px solid #dfe6ec;
                padding-bottom: 10px;
                margin-bottom: 10px;
                font-weight: bold;
            }
        }
    }
</style>