<template>

    <div class="contact-agent-panel" style="line-height: 1.357">
        <div class="branding side-panel-branding" style="background-color: rgb(14, 18, 27);">
            <img class="branding__image" alt="RT Edgar - Hawthorn"
                 src="https://i2.au.reastatic.net/340x64/9a64e88e1161b673ef04538b23f553edfd7529c19344a260048f4e381936f337/logo.jpg">
        </div>
        <ul class="agent-info">
            <li class="agent-info__agent">
                <div class="agent-info__photo"><a
                        href="https://www.realestate.com.au/agent/chris-kavadis-2070802?cid=agent-profile-page|buy:pdp:contact-side-panel"><img
                        class="agent-info__photo-image"
                        src="https://i2.au.reastatic.net/120x160/35a001dd224fbddc9e34aaf41398e57d1fa0120afecbdd534b1ce71849fdcd03/main.jpg"
                        alt="Chris Kavadis"></a></div>
                <div class="agent-info__contact-info">
                    <a class="agent-info__name"
                       href="https://www.realestate.com.au/agent/chris-kavadis-2070802?cid=agent-profile-page|buy:pdp:contact-side-panel">Chris
                        Kavadis</a>
                    <div class="phone"><a href="tel:0412464771"><span class="phone__call">Call</span></a><a
                            class="phone__number" title="Click to reveal phone number"><span class="phone__number-text">0412 464...</span></a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="contact-agent-panel__traffic-driver">
            <a href="https://www.realestate.com.au/agency/rt-edgar-hawthorn-XHSHAA?cid=agency-profile-page|buy:pdp:contact-side-panel" class="sc-fzoXzr gDTaLH sidebar-traffic-driver__name">RT Edgar - Hawthorn</a>
            <div class="sidebar-traffic-driver__detail-info">1153 Burke Road, KEW, VIC 3101</div>
        </div>


        <!--            <div style="font-weight:700;color:#48484a;background: black;">Seller</div>-->

        <!--            <div class="seller-header" style="display:flex;align-items:center;padding:15px 0;">-->
        <!--                <div-->
        <!--                        class="logo-block"-->
        <!--                        style="border:solid 2px #EDEDED;padding:5px;padding-bottom:2px;text-align:center;background-color:#FFFFFF;"-->
        <!--                >-->
        <!--                    <img :src="seller.logo" style="max-width:80px;max-height:80px;"/>-->
        <!--                </div>-->
        <!--                <div class="seller-name" style="text-align:left;width:100%;padding-left:20px;font-size:14px;">-->
        <!--                    <div style="font-weight:700;color:#48484a;">{{seller.name}}</div>-->
        <!--                    <div>{{(seller.address || "").split(",")[1]}}</div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="seller-body" :style="this.sellerDescHeight">-->
        <!--                <span style="word-break:break-word;white-space:pre-line;">{{seller.desc}}</span>-->
        <!--            </div>-->
        <!--            <div style="text-align:center;padding-top:10px;">-->
        <!--                <el-link type="info" @click="toggleSellerMore">{{showSellerMoreText}}</el-link>-->
        <!--            </div>-->
    </div>

</template>

<script>
  export default {
    props: {
      seller: {
        type: Object,
        default: () => {
          return {
            logo: '',
            name: '',
            address: '',
            desc: ''
          }
        }
      }
    },
    data() {
      return {
        showSellerMore: false,
        showSellerMoreText: "Show more",
        sellerDescHeight: "height:230px",
      }
    },
    methods: {

      toggleSellerMore() {
        this.showSellerMore = !this.showSellerMore;
        this.sellerDescHeight = this.showSellerMore ? "height:auto" : "height:230px";
        this.showSellerMoreText = this.showSellerMore ? "Show less" : "Show more";
      },
    }
  }
</script>

<style lang="scss" scoped>

    .contact-agent-panel {
        border-radius: 3px;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
    }

    .branding {
        display: flex;
        align-items: center;
    }

    .side-panel-branding {
        justify-content: center;
        width: 100%;
    }

    .branding__image {
        margin: 7px;
        height: 30px;
    }

    .agent-info {
        padding: 0;
    }

    .agent-info__agent {
        margin: 0 1rem;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        font-family: "Museo-Sans-500,Helvetica Neue,Helvetica,Arial,sans-serif";
    }

    .agent-info__agent:nth-child(2n) {
        border-bottom: 1px solid #e9ebed;
    }

    .agent-info__name {
        margin-bottom: .25rem;
        min-height: 22px;
        max-height: 40px;
        overflow: hidden;
        -webkit-line-clamp: 2;
        margin-bottom: 20px;

    }

    img {
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .agent-info__photo {
        overflow: hidden;
        width: 4em;
        height: 4em;
        margin-right: 16px;
        border-radius: 50%;
        flex-shrink: 0;
        border: 1px solid #d2d6da;
    }

    .agent-info__contact-info {
        display: block;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        line-height: 1.7rem;
    }

    .phone__call {
        display: none;
    }

    .phone__number {
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
    }

    .phone__number-text {
        color: #333f48;
        padding: .25rem .5rem;
        border: 1px solid #d2d6da;
        border-radius: 3px;
        font-size: .875rem;
        font-family: Museo-Sans-300, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .contact-agent-panel__traffic-driver {
        border-top: 1px solid #e9ebed;
        padding: .75rem 1rem;
    }

    .sidebar-traffic-driver__detail-info {
        font-family:Museo-Sans-300,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size:.875rem;
        margin-top:.25rem;
        color: rgb(51, 63, 72);
    }


    ul {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    .seller-body {
        line-height: 21px;
        color: #48484A;
        overflow: hidden;
    }

    .box-center {
        margin: 0 auto;
        display: table;
    }

    .text-muted {
        color: #777;
    }

</style>