<template>
    <el-tabs v-model="activeSchoolTab" @tab-click="handleSchoolTabClick">
        <el-tab-pane label="All" name="all">
            <div class="school_info" v-for="(item,index) in schools" :key="index">
                <div>{{item.name}}</div>
                <div style="display:flex;justify-content:space-between;">
                    <div style="color:#a8a8a8">{{item.type}} | {{item.educationLevel}}</div>
                    <div>{{item.distanceFromLocation}} km</div>
                </div>
            </div>
        </el-tab-pane>
        <el-tab-pane label="Primary" name="primary">
            <div class="school_info" v-for="(item,index) in primary" :key="index">
                <div>{{item.name}}</div>
                <div style="display:flex;justify-content:space-between;">
                    <div style="color:#a8a8a8">{{item.type}} | {{item.educationLevel}}</div>
                    <div>{{item.distanceFromLocation}} km</div>
                </div>
            </div>
        </el-tab-pane>
        <el-tab-pane label="Secondary" name="secondary">
            <div class="school_info" v-for="(item,index) in secondary" :key="index">
                <div>{{item.name}}</div>
                <div style="display:flex;justify-content:space-between;">
                    <div style="color:#a8a8a8">{{item.type}} | {{item.educationLevel}}</div>
                    <div>{{item.distanceFromLocation}} km</div>
                </div>
            </div>
        </el-tab-pane>
        <el-form-item v-if="allSchools.length" style="text-align:center;">
            <el-link type="primary" @click="showAllSchools">Show all nearby schools</el-link>
        </el-form-item>
    </el-tabs>
</template>'

<script>
  export default {
    props: {
      schools: {},
    },
    data() {
      return {
        activeSchoolTab: "all",
        allSchools: [],
        primary: [],
        secondary: [],
        displayAllSchools: false,
      }
    },
    methods: {

      formatDistance(row) {
        return `${row.distanceFromLocation} km`;
      },

      handleSchoolTabClick() {
        this.primary = this.schools.filter(s => s.highYear == "6");
        this.secondary = this.schools.filter(s => s.highYear == "12");
        if (!this.displayAllSchools) {
          this.primary = this.primary.slice(0, 3);
          this.secondary = this.secondary.slice(0, 3);
        }
      },

      showAllSchools() {
        this.allSchools = this.schools;
        this.displayAllSchools = false;
      },
    },
  }
</script>

<style lang="scss" scoped>

    .school_info {
        margin:10px 0;
        border-bottom:0.5px solid #e9ebed;
    }

</style>

