<template>
    <GmapMap 
        ref="mapRef"
        :options="{
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: true,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            disableDefaultUi: false
        }"
        :center="center"
        :zoom="11"
        map-type-id="roadmap"
        scrollwheel="false"
        style="height:100vh"
    >
        <GmapMarker
            v-for="p in properties"
            :ref="p.id"
            :key="p.id"
            :position="{lat: parseFloat(p.lat), lng: parseFloat(p.lng)}"
            :clickable="true"
            :draggable="false"
            v-on:click="onClickProperty($event, p)"
        />
        <gmap-info-window
            :options="{
                maxWidth: 350, 
                maxHeight: 158,
                pixelOffset: {
                    width: 0,
                    height: -35
                }
            }"
            :position="infoWindow.position"
            :opened="infoWindow.open"
            @closeclick="infoWindow.open=false">
            <div v-html="infoWindow.template"></div>
        </gmap-info-window>
    </GmapMap>
</template>

<script>
import {gmapApi} from 'vue2-google-maps';
export default {
    props: [
        'properties'
    ],
    computed: {
        google: gmapApi
    },
    data() {
        return {
            zoom: 10,
            center: {lat: this.properties[0]?this.properties[0].lat: -37.8136, lng:this.properties[0]?this.properties[0].lng:144.9631},
            infoWindow: {
                position: {lat: 0, lng: 0},
                open: false,
                template: ''
            }
        }
    },
    methods: {
        onClickProperty(e, p) {
            var availability = (p.availProperties>0)?'available':'sold';
            var color = (p.availProperties>0)?'#409eff':'#e6a23c'
            this.infoWindow.position = {lat: p.lat, lng: p.lng};
            this.infoWindow.open = true;
            let template = '<div class="infoWindow" style="max-height: 300px; overflow: hidden; font-family: \'Segoe UI\'">';
            // p.priceList.forEach(house => {
                template += 
                    '<div style="clear: both; margin-top: 5px; height:148px; overflow: hidden">'+
                        '<a href="/#/properties/view/'+p.id+'"><img style="width:148px;height:148px; float: left;" src="'+p.images[0].url+'"></img></a>'+
                        '<div style="width:148px;height:148px; float: left; margin-left:10px">'+
                            '<div style="clear:both;">'+
                            '<h1 style="float: left; display: contents" class="title">'+(p.projectName||"")+'</h1>'+
                            '<div style="float: right; padding:2px 10px; background:'+color+'; border: 1px solid; border-radius: 3px; color: white;">'+availability+'</div>'+
                            '</div>'+
                            '<div style="clear: both; margin-top: 15px">'+(p.category|| "").split('|')[0]+'</div>'+
                            '<div style="margin-top:15px">'+p.address+'</div><hr>'+
                            '<div style="float: left; margin: 10px 0 0 0"><i style="float: left" class="iconfont icon-yongjin"></i><div style="margin-left: 5px; float: left">'+p.commission+'</div></div>'+
                            '<div style="float: left; margin: 10px 0 0 5px"><i style="float: left" class="iconfont icon-mingpian"></i><div style="margin-left: 5px; float: left">'+p.fromAgent+'</div></div>'+
                        '</div>'+
                    '</div>';
            // });
            template+='</div>'
            this.infoWindow.template = template;
            //this.center = {lat: parseFloat(p.lat), lng: parseFloat(p.lng)}
            this.zoom = 14;
        }
    }
}
</script>
<style scoped>
    @font-face {
        font-family: 'iconfont';  /* project id 1658925 */
        src: url('//at.alicdn.com/t/font_1658925_fdee6mp23g6.eot');
        src: url('//at.alicdn.com/t/font_1658925_fdee6mp23g6.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1658925_fdee6mp23g6.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1658925_fdee6mp23g6.woff') format('woff'),
        url('//at.alicdn.com/t/font_1658925_fdee6mp23g6.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1658925_fdee6mp23g6.svg#iconfont') format('svg');
        }
    .iconfont{
        font-family:"iconfont" !important;
        font-size:16px;font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
    }

    .title {
        font-family: "Oswald, sans-serif";
        color: red !important;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
</style>