<template>
    <div>
        <div style="display:flex;justify-content:space-between;padding:0 10px;">
            <h1>Channel List</h1>
            <el-link v-if="!this.isPendingAcct" style="display:flex" icon="el-icon-s-custom" @click="companySearchVisible=true" type="primary">Add
                Channel
            </el-link>

            <el-dialog title="Select Channel" :visible.sync="companySearchVisible" :modalAppendToBody="false">
                <el-input placeholder="Keyword" clearable v-model="search" @input="searchCompany"
                          style="margin-top:-30px;!important;">
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
                <div style="display: inline-flex; white-space: nowrap;overflow-x: auto;width:100%;">
                    <div class="card" v-for="(item,index) in searchResult" :key="index" @click="addToCollection(item)">
                        <div class="card-image">
                            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
                                 style="width:100%;">
                        </div>
                        <div class="card-body">
                            <div>
                                <img :src="item.logo" class="avatar">
                                <h4 class="title">{{item.name}}</h4>
                                <div class="desc">
                                    <div v-show="item.address">{{item.address}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </el-dialog>

        </div>
        <el-table :data="generalForm.agents" style="width: 100%">
            <!--            <el-table-column prop="id" label="ID" width="130"></el-table-column>-->
            <el-table-column prop="logo" label="Photo" width="130">
                <template slot-scope="scope">
                    <img :src="scope.row.logo" style="height:50px;width:50px;border-radius:50%"/>
                </template>
            </el-table-column>
            <el-table-column prop="name" label="Name" sortable></el-table-column>
            <el-table-column prop="address" label="Address"></el-table-column>
            <el-table-column prop="phone" label="Phone" ></el-table-column>
            <el-table-column prop="email" label="Email" ></el-table-column>
            <el-table-column fixed="right" label="Actions" width="140">
                <template slot-scope="scope">
                    <el-button @click="remove(scope.row)" type="text" size="small">Remove</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
  import * as HTTP from '../../APIs/http';
  import * as Permission from "../../utils/permission";
  export default {
    data() {
      return {
        search: "",
        companies: [],
        searchResult: [],
        isPendingAcct: true,
        companySearchVisible: false,
        loading: true,
        generalForm: {
          companyId: sessionStorage.companyId,
          agents: []
        }
      };
    },
    methods: {
      async fetch() {
        const col = await HTTP.getCollection();
        const res = await HTTP.getAllCompany();
        this.companies = res.data.filter(c => c.id != sessionStorage.companyId);
        this.searchResult = this.companies;
        this.generalForm = Object.assign({}, this.generalForm, col.data[0]);
      },

      searchCompany(keyword) {
        let tmp = [];
        this.companies.forEach(company => {
          if (company.name.toLowerCase().indexOf(keyword) > -1 || company.address.toLowerCase().indexOf(keyword) > -1) {
            tmp.push(company);
          }
        });
        this.searchResult = tmp;
      },

      async addToCollection(item) {
        let exist = this.generalForm.agents.filter(c => c.id == item.id);
        if (exist.length == 0) {
          this.generalForm.agents.push(item);
          await HTTP.putCollection(this.generalForm);
        } else {
          this.$message('Already in your collection');
        }
      },

      async remove(row) {
        this.$confirm(`Are you sure to remove the Channel "${row.name}" from your collection?`, "Tip", {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }).then(async () => {
          let newList = this.generalForm.agents.filter(c => c.id != row.id);
          this.generalForm.agents = newList;
          await HTTP.putCollection(this.generalForm);
          this.$message({
            type: "success",
            message: "Successful!"
          });
          // this.fetch();
        });
      },


    },
    async created() {
      this.isPendingAcct = await Permission.isPendingAcct();
      !this.isPendingAcct && this.fetch();
    }
  };
</script>

<style scoped>

    .card {
        border: 1px solid #f5f5f5;
        background-color: #fff;
        height: auto;
        width: 140px;
        margin-top: 10px;
        margin-right: 10px;
        padding-bottom: 20px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        border: 3px solid #fff;
        position: relative;
        margin: 0 auto;
    }

    .card-image {
        overflow: hidden;
        height: 50px;
        width: 100%;
        border-radius: 4px;
    }

    .card-body {
        margin-top: -25px;
        text-align: center;
        height: 100%;
        padding: 0 10px;

    }

    .title {
        font-weight: 300;
        margin: 10px 0;
        line-height: 12px;
        font-size: 14px;
        text-transform: uppercase;
        color: #1dc7ea;
    }

    .desc {
        line-height: 1.3;
        color: #66615B;
        font-size: 11px;
        white-space: pre-wrap;
        width: 120px;
        word-break: break-word;
    }

    .desc i {
        padding-right: 5px;
    }
</style>

