<template>
    <div>
        <el-row id="filter" class="top-bar">
            <span><el-link icon="el-icon-s-grid" @click="isMap = false">List</el-link></span>
            <span><el-link icon="el-icon-location-outline" @click="isMap = true">Map</el-link></span>
            <div>
                <el-input placeholder="Search by address or project" v-model="searchText"
                          style="width:420px;" size="medium" @input="searchInput" clearable>
                    <i class="el-icon-search el-input__icon" slot="prefix"></i>
                    <el-button slot="append" icon="el-icon-s-operation" @click="isExpanded=!isExpanded"></el-button>
                </el-input>
                <div v-show="isExpanded" class="search-panel" style="background-color: white;">
                    <el-form :model="searchForm" label-width="70px">
                        <el-form-item label="Source">
                            <el-checkbox-group v-model="searchForm.source" size="small" @change="updateFilter">
                                <el-checkbox-button v-for="item in sources" :label="item" :key="item">{{item}}
                                </el-checkbox-button>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="Region">
                            <el-checkbox-group v-model="searchForm.location" size="small" @change="updateFilter">
                                <el-checkbox-button v-for="item in locations" :label="item" :key="item">{{item}}
                                </el-checkbox-button>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="Category">
                            <el-checkbox-group v-model="searchForm.category" size="small" @change="updateFilter">
                                <el-checkbox-button v-for="category in categories" :label="category" :key="category">
                                    {{category}}
                                </el-checkbox-button>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item style="border-bottom: 1px solid #e6e6e6">
                        </el-form-item>

                        <div style="float: right">
                            <el-button size="mini" @click="clearFilter">Clear filters</el-button>
                        </div>
                    </el-form>
                </div>
            </div>

            <span>Sort By:
            <el-select v-model="sortedValue" clearable placeholder="Most relavant" size="small" @change="sortedBy">
                <el-option
                        v-for="item in sortedOps"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
                </span>
        </el-row>
        <template v-if="this.isMap">
            <MapView :properties="this.properties"></MapView>
        </template>
        <template v-else>
            <el-row style="border: 0px solid black;padding-left:0px;">
                <el-col :span="4" v-for="(item, index) in properties" :key="index" :offset="1"
                        style="width:280px;margin-top: 20px">
                    <el-card :body-style="{ padding: '0px'}" shadow="hover" style="height: 375px">
                        <img :src="item.images[0].url" class="image"
                             @click="$router.push(`/properties/view/${item.id}`)">
                        <div style="padding: 25px 0px 10px 10px;">
                            <div style="display: flex;justify-content:space-between;padding-right:20px">
                                <div class="title" style="max-height: 20px">{{item.projectName}}</div>
                                <div>
                                  <span v-if="item.availProperties>0">
                                      <el-tag size='mini' effect='dark'>Available</el-tag>
                                  </span>
                                    <span v-else>
                                      <el-tag size='mini' type='warning' effect='dark'>Sold</el-tag>
                                  </span>
                                </div>
                            </div>
                            <div class="price">
                                <span>{{(item.category|| "").split('|')[0]}}</span>
                            </div>
                            <div class="address" style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;"><span>{{item.address}}</span></div>
                        </div>
                        <div class="configuration">
                            <span>
                                <i class="iconfont icon-yongjin"/>{{item.commission}}
                                <span style="padding-left:3px;padding-top:3px;font-size:10px; ">
                                  <span v-if="item.gst">inc GST</span>
                                  <span v-else>exc GST</span>
                                </span>
                            </span>
                            <span><i class="iconfont icon-mingpian"/>{{item.fromAgent}}</span>
                        </div>
                        <!--                    <div class="bottom clearfix">-->
                        <!--                        <time class="time">{{  }}</time>-->
                        <!--                        <el-button type="text" class="button">操作按钮</el-button>-->
                        <!--                    </div>-->

                    </el-card>
                </el-col>
            </el-row>
        </template>
    </div>

</template>

<script>
  import * as SLS from '../../APIs/sls';
  import MapView from "../../components/MapView.vue";

  export default {
    components: {
      MapView
    },
    data() {
      return {
        searchText: "",
        isExpanded: false,
        isMap: false,
        properties: [],
        originProperties: [],
        searchForm: {
          location: [],
          category: [],
          source: [],
        },
        sources: ["Owned by me", "Shared to me", "Public"],
        locations: ["North", "Southeast", "East", "West"],
        categories: ["Townhouse", "Apartment", "House", "Commercial"],

        sortedOps: [{
          value: 'sort1',
          label: 'Date(Newest-Oldest)'
        }, {
          value: 'sort2',
          label: 'Date(Oldest-Newest)'
        }, {
          value: 'sort3',
          label: 'Price(Lowest-Highest'
        }, {
          value: 'sort4',
          label: 'Price(Highest-Lowest)'
        },],
        sortedValue: ''
      };
    },
    methods: {
      async fetch() {
        const res = await SLS.loadPublicProperties();
        this.originProperties = this.properties = res.data.sort((a, b) => {
          return new Date(a.updatedAt) - new Date(b.updatedAt);
        });

      },

      searchInput() {
        this.properties = this.originProperties.filter(p =>
            p.address.toLowerCase().indexOf(this.searchText.toLowerCase()) > -1
            || (p.projectName && p.projectName.toLowerCase().indexOf(this.searchText.toLowerCase())> -1));
      },

      updateFilter() {
        this.properties = this.originProperties.filter(p => {
          if (this.searchForm.source.length > 0) {
            if (this.searchForm.source.includes('Owned by me') && p.originId) return;
            else if (this.searchForm.source.includes('Shared to me') && !p.originId) return;
          }
          if (this.searchForm.location.length > 0) {
            if (this.searchForm.location.indexOf(p.location) == -1) return;
          }
          if (this.searchForm.category.length > 0) {
            if (this.searchForm.category.indexOf(p.category) == -1) return;
          }
          return p;
        })
      },

      clearFilter() {
        this.searchForm.source = this.searchForm.location = this.searchForm.category = [];
        this.updateFilter();
      },

      sortedBy(e) {
        this.sortedValue = e;
        switch (e) {
          case "sort1":
            this.properties = this.properties.sort((a, b) => {
              return new Date(a.updatedAt) - new Date(b.updatedAt);
            });
            break;
          case "sort2":
            this.properties = this.properties.sort((a, b) => {
              return new Date(b.updatedAt) - new Date(a.updatedAt);
            });
            break;
          case "sort3":
            this.properties = this.properties.sort((a, b) => {
              return a.minPrice - b.minPrice;
            });
            break;
          case "sort4":
            this.properties = this.properties.sort((a, b) => {
              return b.minPrice - a.minPrice;
            });
            break;
        }
      },

      filterProperties(e) {
        this.filterValue = e;
        this.properties = this.originProperties.filter(p => {
          if (e.includes('filter1') && !p.originId) {
            return p;
          }
          if (e.includes('filter2') && p.originId) {
            return p;
          }
          if (e == "") {
            return p;
          }

        });
      },

    },

    created() {
      sessionStorage.companyId != "undefined" && this.fetch();
    }
  }
</script>

<style scoped>

    .search-panel {
        padding: 10px 20px 10px 10px;
        margin-top: 1px;
        /*width:500px;*/
        /*height:200px;*/
        position: absolute;
        border-radius: 3px;
        /*border: 1px solid #EBEEF5;*/
        box-shadow: 0 0 4px #cac6c6;
        /*background-color: whitesmoke !important;*/
        /*border: 1px solid red;*/
    }

    .el-form-item {
        margin-bottom: 10px;
    }

    .top-bar {
        border: 0px solid grey;
        display: flex;
        position: sticky;
        top: -20px;
        background-color: #f5f5f5;
        justify-content: center;
        align-items: center;
        z-index: 100;
        padding: 5px;
    }

    .for-rent {
        position: relative;
        left: 270px;
        right: auto;
        bottom: auto;
        display: inline-block;
        margin-top: 10px;
        margin-right: 7px;
        padding: 4px;
        border-radius: 2px;
        background-color: #f6af2b;
        color: #fff;
        font-size: 10px;
        line-height: 11px;
    }

    .title {
        font-family: "Oswald, sans-serif";
        color: #000;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .price {
        margin-top: 10px;
        transition: opacity 200ms ease;
        color: #69707b;
        font-size: 16px;
        text-decoration: none;
    }

    .address {
        margin-top: 10px;
        font-size: 14px;
        line-height: 17px;
        color: #69707b;
        min-height: 34px;
    }

    .configuration {
        border-top: 1px solid #cbd2de;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 8px 0px;
    }

    .configuration span {
        display: flex;
        /*flex: 1;*/
        justify-content: center;
        align-items: center;
        color: #69707b;
    }

    .iconfont {
        margin-right: 0px;

    }

    .image {
        width: 100%;
        display: block;
        height: 200px;
    }

    img {
        transform: scale(1);
        transition: .3s ease-in-out;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.07);
    }


    .el-row#filter span {
        padding: 0 20px;
        font-size: 16px;
        color: #606266;
    }

    .el-row#filter span .el-link {
        font-size: 16px;
    }

    .time {
        font-size: 13px;
        color: #999;
    }

    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }

    .button {
        padding: 0;
        float: right;
    }


    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

</style>