<template>
  <div id="app">
    <div id="login" class="father" v-if="!signedIn">
      <sign-in class="son" v-if="formState === 'signIn'" :toggle='toggle' :setSession="setSession"></sign-in>
      <sign-up class="son" v-if="formState === 'signUp'" :toggle='toggle'></sign-up>
      <reset  v-if="formState === 'reset'" :toggle='toggle'></reset>
    </div>
    <div v-else>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import {Hub, Auth} from 'aws-amplify'
import {http, sls} from "./utils/http";
import SignUp from './auth/SignUp'
import SignIn from './auth/SignIn'
import Reset from './auth/Reset'

export default {
  name: 'app',
  components: {
    SignUp,
    SignIn,
    Reset
  },
  async created() {
    try {
      await Auth.currentAuthenticatedUser();
      this.signedIn = true
    } catch (err) {
      this.signedIn = false
    }
    // document.querySelector('body').style.backgroundColor="#f5f5f5";
    //document.querySelector('body').style.backgroundImage = "linear-gradient( to bottom,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100% ),url(https://static.domain.com.au/content/fe-static/@domain-group/fe-pa-suburb-landing/static/suburb-banner_ab8fa9a4.jpg)";
  },
  beforeCreate() {
    const listener = (data) => {
      switch (data.payload.event) {
        case 'signIn':
          this.setSession();
          break;
        case 'signOut':
          this.signedIn = false;
          break;
        case 'configured':
          //console.log('the Auth module is configured');
      }
    }
    Hub.listen('auth', listener);
    Auth.currentAuthenticatedUser()
        .then(() => {
          this.signedIn = true
        })
        .catch(() => this.signedIn = false);
  },

  data() {
    return {
      formState: 'signIn',
      signedIn: false,
    }
  },
  methods: {
    async setSession() {
      const user = await Auth.currentAuthenticatedUser();
      const session = await Auth.currentSession();
      sessionStorage.token = session.getAccessToken().getJwtToken();
      sessionStorage.companyId = session.getIdToken().payload["cognito:groups"][0];
      sessionStorage.email = user.attributes["email"];
      sessionStorage.userId = user.attributes["sub"];
      sessionStorage.picture = user.attributes["picture"];
      http.defaults.headers.common['Authorization'] = 'Bearer ' + sessionStorage.token;
      http.defaults.headers.common['companyid'] = sessionStorage.companyId;
      sls.defaults.headers.common['Authorization'] = 'Bearer ' + sessionStorage.token;
      sls.defaults.headers.common['companyid'] = sessionStorage.companyId;

      this.signedIn = true;
      await this.$router.push("/home");
      this.$router.go();
    },

    toggle(toPage) {
      //this.formState === 'signUp' ? this.formState = 'signIn' : this.formState = 'signUp'
      this.formState = toPage;
    }
  }
}
</script>

<style>

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif";
  background-position: center;
  background-size: cover;
  background-color: rgb(48, 65, 86);
  -webkit-font-smoothing: antialiased;
}

.el-loading-mask {
  background-color: transparent !important;
}




.father {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  text-align: center;
}

.son {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 75%;
  margin: auto;
}
</style>
