<template>
  <div>
    <el-form ref="resetForm" :model="account" :rules="rules" label-position="left" label-width="0px"
             class="demo-ruleForm login-container">
      <h3 class="title">Reset your password</h3>
      <el-form-item prop="email" :error="errorMsg">
        <el-input type="text" v-model="account.email" :disabled="this.isCodeSent" auto-complete="off" placeholder="Enter your Email"></el-input>
      </el-form-item>
      <div v-if="isCodeSent">
        <el-form-item prop="code" >
          <el-input type="number" v-model="account.code" auto-complete="off" placeholder="Enter your code"></el-input>
        </el-form-item>
        <el-form-item prop="newPass" >
          <el-input type="password" v-model="account.newPass" auto-complete="off" placeholder="Enter your new Password" show-password></el-input>
        </el-form-item>
      </div>
      <el-form-item style="width:100%;">
        <div v-if="isCodeSent">
          <el-button type="primary" style="width:100%;margin-top:10px;" @click.native.prevent="updatePassword" :loading="loading">Update Password
          </el-button>
        </div>
        <div v-else>
          <el-button type="primary" style="width:100%;" @click.native.prevent="sendCode" :loading="loading">Send Code
          </el-button>
        </div>
        <div style="text-align: center">
          <el-link type="primary" @click.native.prevent="toggle('signIn')">Back to Sign In</el-link>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { Auth } from 'aws-amplify'
export default {
  props: ['toggle'],
  data() {
    return {
      formState: "reset",
      loading: false,
      isCodeSent: false,
      account: {
        email: '',
        code:'',
        newPass:'',
      },
      rules: {
        email: [
          {required: true, message: 'Please enter a valid email', trigger: 'blur'},
          {
            type: "email",
            message: "Please enter a valid email",
            trigger: ["blur", "change"]
          }
        ],
        code: [
          {required: true, message: 'Please enter a valid code', trigger: 'blur'},
          {
            min: 6,
            max: 6,
            message: "Please enter a valid code",
            trigger: "blur"
          }
        ],
        newPass: [
          {required: true, message: 'Please enter a valid password', trigger: 'blur'},
          {
            min: 8,
            max: 32,
            message: "Password length should be between 8-32",
            trigger: "blur"
          },
          {
            pattern: /(^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!,;><_@#$%^&*]).{8,32}$)/,
            message: "Password must be a combination of numbers, letters, and special characters",
            trigger: "blur"
          }
        ]
      },
      errorMsg: '',
    };
  },
  methods: {
    async sendCode() {
      this.loading = true;
      try {
        await Auth.forgotPassword(this.account.email);
        this.$message({type: 'success', message: 'Sent the password, please check your email'});
        this.isCodeSent = true;
      } catch (error) {
        this.errorMsg = error.message;
        console.error(error);
      }
      this.loading = false;
    },

    async updatePassword() {
      this.$refs.resetForm.validate(async (valid) => {
        if (valid) {
          this.loading = true;
          try {
            await Auth.forgotPasswordSubmit(this.account.email, this.account.code, this.account.newPass)
            this.toggle('signIn');
          } catch (error) {
            console.error(error);
          }
          this.loading = false;
        }
      });
    }
  }
}
</script>

<style lang="scss" scoped>
body {
  height:100%;
  overflow: hidden;
}
.login-container {
  /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin: 160px auto;
  width: 350px;
  padding: 35px 35px 15px 35px;
  background: #fff;
  border: 1px solid #eaeaea;
  //box-shadow: 0 0 5px #cac6c6;

  background: -ms-linear-gradient(top, #ace, #00C1DE); /* IE 10 */
  background: -moz-linear-gradient(top, #ace, #00C1DE); /*火狐*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ace), to(#00C1DE)); /*谷歌*/
  background: -webkit-linear-gradient(top, #ace, #00C1DE); /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #ace, #00C1DE); /*Opera 11.10+*/

  .title {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
  }

  .remember {
    margin: 0px 0px 35px 0px;
  }
}
</style>
