<template>
  <div>
    <el-form v-if="formState === 'signIn'" ref="AccountForm" :model="account" :rules="rules" label-position="top" label-width="0px"
             class="demo-ruleForm login-container">
      <div v-if="!this.newPassPage" style="text-align: left">
        <div style="text-align: center">
            <el-image src="/img/weproperty.png"></el-image>
            <h2 class="title">Welcome to WeProperty</h2>
        </div>
        <el-form-item prop="email" label="Email" :error="errorMsg">
          <el-input type="text" v-model="account.email" auto-complete="off" placeholder="Enter your email"></el-input>
        </el-form-item>
        <el-form-item prop="password" label="Password" :error="errorPassword">
          <el-input type="password" v-model="account.password" auto-complete="off" placeholder="Enter your Password"
                    show-password></el-input>
        </el-form-item>
        <el-form-item style="width:100%;">
          Forget your password? <el-link type="primary" @click.native.prevent="toggle('reset')">Reset password</el-link>
          <el-button type="primary" style="width:100%;" @click.native.prevent="handleSignIn" :loading="loading">SIGN
            IN
          </el-button>
          <div style="text-align: center">No account?
            <el-link type="primary" @click.native.prevent="toggle('signUp')">Create account</el-link>
          </div>
        </el-form-item>
      </div>
      <div v-else style="text-align: left">
        <h3 class="title">Change Password</h3>
        <el-form-item label="New Password" :error="errorNewPassword" >
          <el-input type="password" v-model="newPassword" auto-complete="off" placeholder="Use 8 or more characters"
                    show-password></el-input>
        </el-form-item>
        <el-form-item style="width:100%;">
          <el-button type="primary" style="width:100%;" @click.native.prevent="setNewPassword" :loading="loading">Change Password
          </el-button>
          <el-link type="primary" @click.native.prevent="backToSignIn">Back to Sign In</el-link>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>

<script>
import { Auth } from 'aws-amplify'
export default {
  props: ['toggle', 'setSession'],

  data() {
    return {
      formState: "signIn",
      loading: false,
      newPassPage: false,
      cognitoUser: "",
      newPassword:"",
      account: {
        email: '',
        password: ''
      },
      rules: {
        email: [
          {required: true, message: 'Please enter a valid email', trigger: 'blur'},
          {
            type: "email",
            message: "Please enter a valid email",
            trigger: ["blur", "change"]
          }
        ],
        password: [
          {required: true, message: 'Please enter a valid password', trigger: 'blur'},
          {
            min: 8,
            max: 32,
            message: "Password length should be between 8-32",
            trigger: "blur"
          },
          {
            pattern: /(^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!,;><_@#$%^&*]).{8,32}$)/,
            message: "Password must be a combination of numbers, letters, and special characters",
            trigger: "blur"
          }
        ]
      },
      errorMsg: '',
      errorPassword:'',
      errorNewPassword:'',
    };
  },
  methods: {
    handleSignIn() {
      this.errorMsg = '', this.errorPassword='';
      this.$refs.AccountForm.validate(async (valid) => {
        if (valid) {
          this.loading = true;
          try {
            const { email, password } = this.account
            this.cognitoUser = await Auth.signIn(email, password);
            if(this.cognitoUser.challengeName === "NEW_PASSWORD_REQUIRED") {
              this.newPassPage = true;
            }
          } catch (error) {
            this.errorMsg = error.message;
          }
          this.loading = false;
        }
      });
    },

    async setNewPassword() {
      this.errorNewPassword = "";
      if(this.newPassword.length =="") {
        this.errorNewPassword = "Please enter a new password";
      } else {
        this.cognitoUser.completeNewPasswordChallenge(this.newPassword, this.cognitoUser.challengeParam.requiredAttributes, {
          onSuccess:  async() =>{
            this.setSession();
          },
          onFailure: (err) =>{
            this.errorNewPassword = err.message;
          }
        });
      }
    },

    backToSignIn() {
      this.newPassPage=false;
    }

  }
}
</script>

<style lang="scss" scoped>
body {
  height:100%;
  overflow: hidden;
}
.login-container {
  /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin: auto;
  width: 350px;
  padding:20px 35px 15px 35px;
  background: #fff;
  border: 1px solid #eaeaea;
  //box-shadow: 0 0 5px #cac6c6;

  background: -ms-linear-gradient(top, #ace, #00C1DE); /* IE 10 */
  background: -moz-linear-gradient(top, #ace, #00C1DE); /*火狐*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ace), to(#00C1DE)); /*谷歌*/
  background: -webkit-linear-gradient(top, #ace, #00C1DE); /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #ace, #00C1DE); /*Opera 11.10+*/

  .title {
    margin: 0px auto 15px auto;
    text-align: center;
    color: #505458;
  }

  .remember {
    margin: 0px 0px 35px 0px;
  }
}
</style>
