<template>
  <div>
  <el-form v-if="formState === 'signUp'" ref="singUpFrom" :model="account" :rules="rules" label-position="left"
           class="demo-ruleForm login-container">
    <h3 class="title">Create company account</h3>
    <el-form-item prop="name" label="Name">
      <el-input type="text" v-model="account.name" auto-complete="off" placeholder="Enter your name"></el-input>
    </el-form-item>
    <el-form-item prop="email" label="Email" :error="errorMsg">
      <el-input type="text" v-model="account.email" auto-complete="off" placeholder="Enter your company email"></el-input>
    </el-form-item>
    <el-form-item prop="password" label="Password">
      <el-input type="password" v-model="account.password" auto-complete="off" placeholder="Use 8 or more characters"
                show-password></el-input>
    </el-form-item>
    <el-form-item prop="company" label="Company name">
      <el-input type="text" v-model="account.company" auto-complete="off" placeholder="Enter your company name"></el-input>
    </el-form-item>
    <el-form-item style="width:100%;">
      <el-button type="primary" style="width:100%;" @click.native.prevent="handleSignUp" :loading="loading">
        Create
      </el-button>
      <div style="text-align: center">Have an account?
        <el-link type="primary" @click.native.prevent="toggle('signIn')">Sign in</el-link>
      </div>
    </el-form-item>
  </el-form>

    <el-form v-if="formState === 'confirmSignUp'" ref="AccountFrom" :rules="confirmPageRules" label-position="left"
             class="demo-ruleForm login-container">
      <h3 class="title">Confirm Sign Up</h3>
      <el-form-item prop="email" label="Email">
        <el-input type="text" v-model="account.email" :disabled="true" placeholder=""></el-input>
      </el-form-item>
      <el-form-item label="Confirmation Code" :error="codeError">
        <el-input type="number" v-model="account.code"  auto-complete="off" placeholder="Enter your Code"></el-input>
        Lost your code? <el-link type="primary" @click="resendCode">Resend Code</el-link>
      </el-form-item>

      <el-form-item style="width:100%;">
        <el-button type="primary" style="width:100%;" @click.native.prevent="confirmSignUp" :loading="loading">CONFIRM</el-button>
        <div style="text-align: center">Have an account? <el-link type="primary" @click.native.prevent="toggle('signIn')">Back to Sign in</el-link></div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { Auth } from 'aws-amplify'
export default {
  props: ['toggle'],
  data() {
    return {
      loading: false,
      formState: 'signUp',
      account: {
        email: '',
        password: '',
        name: '',
        company: '',
      },
      rules: {
        email: [
          {required: true, message: "Please enter a valid email", trigger: "blur"},
          {
            type: "email",
            message: "Please enter a valid email",
            trigger: ["blur", "change"]
          }
        ],
        password: [
          {required: true, message: 'Please enter a valid password that is at least 8 characters', trigger: 'blur'},
          {
            min: 8,
            max: 32,
            message: "Password length should be between 8-32",
            trigger: "blur"
          },
          {
            pattern: /(^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!,;><_@#$%^&*]).{8,32}$)/,
            message: "Password must be a combination of numbers, letters, and special characters",
            trigger: "blur"
          }
        ],
        name: [
          {required: true, message: 'Please enter  valid name', trigger: 'blur'},
          {
            min: 1,
            max: 12,
            message: "Please enter a valid name",
            trigger: "blur"
          }
        ],
        company: [
          {required: true, message: 'Please enter company name', trigger: 'blur'},
          {
            min: 1,
            max: 32,
            message: "Please enter a valid name",
            trigger: "blur"
          }
        ]
      },
      confirmPageRules: {
        code: [
          {required: true, message: 'Please enter a valid code', trigger: 'blur'},
          {
            min: 6,
            max: 6,
            message: "Please enter a valid code",
            trigger: "blur"
          }
        ]
      },
      errorMsg: '',
      codeError: '',
    };
  },
  methods: {
    handleSignUp() {
      this.errorMsg = '';
      this.$refs.singUpFrom.validate(async (valid) => {
        if (valid) {
          this.loading = true;
          try {
            const { email, password, name, company } = this.account
            await Auth.signUp({
              username: email,
              password,
              attributes: {
                name,
                'custom:company': company,
                'custom:role': 'Admin',
                'custom:master': 'true'
              }
            })
            this.formState = 'confirmSignUp'
          } catch (error) {
            this.errorMsg = error.message;
          }
          this.loading = false;
        }
      });
    },

    async confirmSignUp() {
      this.codeError = '';
      try {
        await Auth.confirmSignUp(this.account.email, this.account.code)
        this.toggle('signIn')
      }catch (error) {
        console.log(error);
        this.codeError = error.message;
      }

    },

    async resendCode() {
      this.codeError = '';
      try {
        await Auth.resendSignUp(this.account.email);
        this.$message({
          message: 'Sent the new code to your email address',
          type: 'success'
        });
      } catch (err) {
        console.log('error resending code: ', err);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login-container {
  /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin: auto;
  width: 350px;
  padding: 35px 35px 15px 35px;
  background: #fff;
  border: 1px solid #eaeaea;
  //box-shadow: 0 0 25px #cac6c6;

  background: -ms-linear-gradient(top, #ace, #00C1DE); /* IE 10 */
  background: -moz-linear-gradient(top, #ace, #00C1DE); /*火狐*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ace), to(#00C1DE)); /*谷歌*/
  background: -webkit-linear-gradient(top, #ace, #00C1DE); /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #ace, #00C1DE); /*Opera 11.10+*/

  .title {
    margin: 0px auto 0px auto;
    text-align: center;
    color: #505458;
  }

  .remember {
    margin: 0px 0px 35px 0px;
  }
}
</style>
